//- start footer
//- div(class='container footer')
//-   div(class='footer-top')
//-     div(class='demo-section')
//-       p Resources: 
//-       a(
//-         target='_blank' 
//-         href='https://pugjs.org/api/getting-started.html'
//-         ) PUG
//-       a(
//-         target='_blank' 
//-         href='https://sass-lang.com/documentation/file.SASS_REFERENCE.html'
//-         ) Sass
//-       a(
//-         target='_blank' 
//-         href='https://www.marist.edu/'
//-         ) Marsit
//-     div(class='contact-section')
//-       p Want to work with me?
//-       a(
//-         class='contact' 
//-         href='mailto:bthegarty@gmail.com'
//-         ) Contact
//-     div(class='social-section')
//-       p Follow me on:
//-       a(
//-         target='_blank' 
//-         href='https://www.linkedin.com/in/brendan-hegarty-a91186104/'
//-         )
//-         i(class='fab fa-linkedin-in fa-2x')
//-       a(
//-         target='_blank' 
//-         href='https://www.facebook.com/brendan.hegarty.14'
//-         )
//-         i(class='fab fa-facebook-f fa-2x')
//-       a(
//-         target='_blank' 
//-         href='https://www.instagram.com/b_hegs1/?hl=en'
//-         )
//-         i(class='fab fa-instagram fa-2x')
//-       a(
//-         target='_blank' 
//-         href='https://github.com/bthegarty'
//-         )
//-         i(class='fab fa-github fa-2x')
//- div(class='footer-divide')
div(class='footer-bottom') Marist College - Brendan Hegarty - Front-End Developer
