title Brendan Hegarty | Web Developer
meta(name='viewport' content="width=device-width, initial-scale=1")
link(rel='shortcut icon' href='https://bthegarty.s3.us-east-2.amazonaws.com/me.png')
link(rel='stylesheet', href='./styles/style.css')
link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed|Lobster|Ubuntu' rel='stylesheet')
script(defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous")
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
script(src='./script.js') 
script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
//- Share meta data add here

meta(property="og:url"                content="http://www.bthegarty.com")
meta(property="og:type"               content="website")
meta(property="og:title"              content="Brendan Hegarty | Web Developer")
meta(property="og:description"        content="Modern web developer in the New York/Tri-State area")
meta(property="og:image"              content="https://bthegarty.s3.us-east-2.amazonaws.com/bh-red.png")
