title Brendan Hegarty | Web Developer
meta(name='viewport' content="width=device-width, initial-scale=1")
link(rel='shortcut icon' href='https://bthegarty.s3.us-east-2.amazonaws.com/me.png?response-content-disposition=inline&X-Amz-Security-Token=AgoJb3JpZ2luX2VjEDEaCXVzLWVhc3QtMSJGMEQCIEvYWhi7Iu8FEu5TNZdSxzLLkS34WbdLGeYTDs28rE0QAiABXk1AUWrxnqR1wWOfBFBB2FVTsVTo7sUdDpVjs8yd%2FCrkAwip%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAAaDDg1MjU3NjQzNTExOCIM9Skx%2Fgt9TTLshn2zKrgDdaEe1hE4BYbvi%2Fb%2FC8ndUGPZ8Axeiu8HV0CYePqFxMJKLpkBSKVpX%2F5GL5yFsqcgKRC6E2bEztSVASX9bzQCyhYvzPvDo89N%2F2H9DDgfc5OX9LXYUCjHrXcQuXqEZ1Hnqu5x9%2FeMZ1Q4Yd8dWc97YBeZAzsObn257TOLrqqfD%2Bf1mTHWykMMX9FC%2F8zAOMBrKFnc%2FRZq60ZPYC6n1xjOfA5GthgZGECNV1SBMbv45d%2FTMu7ywyCwb9NTDPSI6i4fvTTuGDbnhjHYO%2Ba1pqBX6RO73Z%2Fa1hN9sM6%2BkNdKNwmZrdkc6DRbQIw7akwjb5Nf0U9hwJvu6G9VYBBDLTnRwS%2FYhETXGS7ibpxYkHNow8wlYAkoX4LoQfG9d8842jtHzO5TMcyNKNg1dI5oesP0TBVeEK2aJcr%2Btkr1OHiNx4kuZFrwQYqW71CXRw9dRq%2Fuldcdy%2FT00bgkBTbNfjjSUwXaZXW6cvNM9nlcWgMPGx5JSreIbHYtazQvkS6U99EHPCBKlN7b51pITYzEFVVSWix5uIBh1XdXo58lNjK3Djl0LQmut5ic6KniujcJG5ZQ5OhrSOxb7QAwsfuG6gU6tQEsv42H0Q2ZgvHuxnBxrBIjqleMN7UysVtLrBbsxF1ClfLZdkDHP8UijmvRU4IZHbm%2FpBZmfsbttINjj76Bc%2FeVnv8YXwAmtXiY2serSJT9FQ%2Bo5SKXzcyGzGl5Nf2qA%2Ba4aJ3rbAn2RhLbw5zC7QUrV6v8%2F3FsZ1bUWt%2FlI7F3pxr8ImRb9dDtbr9lRxpmBVUXzpVOuL2F4FLafB9ybZ4xKG06Fviv%2BlmlUXabOd5CNlZLRHMG&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20190731T204608Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIA4NAMD7OXMHUKSW4P%2F20190731%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Signature=7b2adc13dd2c8f62a8173ba8dbba44e6e1fa21f7eb6b0962afbbc95d6d4e85f1')
link(rel='stylesheet', href='./styles/style.css')
link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed|Lobster|Ubuntu' rel='stylesheet')
script(defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous")
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
script(src='./script.js') 
script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
//- Share meta data add here

meta(property="og:url"                content="http://www.bthegarty.com")
meta(property="og:type"               content="website")
meta(property="og:title"              content="Brendan Hegarty | Web Developer")
meta(property="og:description"        content="Modern web developer in the New York/Tri-State area")
meta(property="og:image"              content="./styles/logos/logo.jpeg")
