div(class='job-tile')
  div(class='job-img')
    img(src='./styles/logos/shudder.png' alt='SHUDDER')
  div(class='job-tile-inner')
    div(class='header jobs') shudder
    div(class='job-tile-info') Shudder is a streaming service for the most hardcore horror fans and their passion drives mine. I have contributed to every part of this project from content delivery work, to early rebranding work, to head of web QA, to where I am now, and where I love to be, developing features for the fans of this service.
    div(class='job-tile-info') My recent work for the service has included revamping the collections pages to bring more personalized content categories to our users and currently doing global style updates for the service to create a cleaner look and cleaner code.
        
div(class='job-tile')
  div(class='job-img')
    img(src='./styles/logos/blog.png' alt='The Bite')
  div(class='job-tile-inner')
    div(class='header jobs') shudder blog
    div(class='job-tile-info') The Shudder Blog was my first development task on the newly redesigned web stack. A way to reach out to fans to discuss production progress, the hotest horror, and a bit of horror history. 
    div(class='job-tile-info') We decided the best way to create a website that outside authors could contribute to was to use Wordpress as an api. This meant we could create the entire site using our Shudder code base and React platform. Consisting of a Shudder themed home page and different categories from around the horror genre there is something for everyone in a neatly packaged, fast loading, and load handling platform.
        
div(class='job-tile')
  div(class='job-img')
    img(src='./styles/logos/sundancenow.png' alt='Sundance Now')
  div(class='job-tile-inner')
    div(class='header jobs') sundance now
    div(class='job-tile-info') Sundance Now is the sister service to Shudder. Made for the fans of true crime and gripping dramas the service originally started out showcasing some of the curcuits best documentaries and still boasts a large collection.
    div(class='job-tile-info') Developing both services allowed us to build a web stack that used the best of both projects. S/N is also a React app that uses PUG for cleaner templating and keeping the development to one central platform allows for the easy addition of features and deployment of new code.

div(class='job-tile')
  div(class='job-img')
    img(src='./styles/logos/bthegarty.png' alt='bthegarty.com')
  //- add another image so on hover it shows 1.0 and defaults to 2.0 with water marked version on the image
  div(class='job-tile-inner')
    div(class='header jobs') bthegarty.com
    div(class='job-tile-info') Of course you know it. You're on it! All products are the end result of years of evolution and hard work. This Website is no exception.
    div(class='job-tile-info') You are currently on the 3rd version of this site. A Node.JS app using React and PUG Templates; it is an evolution of the image you see here. The "2.0" version was a single page Node.JS application.
    div(class='job-tile-info') For this version I wanted to build a more scalable framework, something cleaner for mobile displays, and use what I've learned in the past year. I plan on continuing optimization of this page and exploring the posibility of transitioning this site to a vue.js app. 

div(class='job-tile')
  div(class='job-img')
    img(src='./styles/logos/compiler.png' alt='bthegarty.github.io')
  div(class='job-tile-inner')
    div(class='header jobs') bh compiler
    div(class='job-tile-info') Made my senior using pure javascript for a sudo-javascript language. BH Compiler is broken up into 5 parts:
      div(class='job-tile-info-list') Language :
        a(href='http://labouseur.com/courses/compilers/grammar.pdf' target='_blank') Explore the language here
      div(class='job-tile-info-list') Lexer : 
        div(class='list-info') Converts input into a token array
      div(class='job-tile-info-list') Parser : 
        div(class='list-info') Confirms correct language to generate trees
      div(class='job-tile-info-list') Concrete Syntax Tree : 
        div(class='list-info') Full tree of items in the array
      div(class='job-tile-info-list') Abstract Syntax Tree : 
        div(class='list-info') Condensed tree of core items from the CST
      div(class='job-tile-info-list') Scope Check : 
        div(class='list-info') Checks that code is in an appropriate section
      div(class='job-tile-info-list') Code Generation : 
        div(class='list-info') Converts the source code into machine code
    div(class='job-tile-info') You can try it for yourself 
      a(href='https://bthegarty.github.io' target='_blank') here.

div(class='job-tile')
  div(class='job-img')
    img(src='./styles/logos/themanor.png' alt='theManor')
  div(class='job-tile-inner')
    div(class='header jobs') the manor
    div(class='job-tile-info') The Manor is a premire wedding venue located in the Adirondacks. I wanted to test myself with a simple yet elegant design and smooth and groomed code base. Single page applicaton using node and hosted through heroku the page uses custom parallax designs for the images.
    div(class='job-tile-info') Simple. Beautiful. Clean.
