div(class='job-tile')
  a(href='#')
    div(class='job-tile-bg')
      img(src='./styles/logos/shudder.png' alt='test')
      div(class='job-tile-inner')
        div(class='job-tile-info') And both that morning equally lay In leaves no step had trodden black. Oh, I kept the first for another day!
      div(class="job-tile-overlay")
        
div(class='job-tile')
  a(href='#')
    div(class='job-tile-bg')
      img(src='./styles/logos/blog.png' alt='test')
      div(class='job-tile-inner')
        div(class='job-tile-info') Yet knowing how way leads on to way, I doubted if I should ever come back.
      div(class="job-tile-overlay")
        
div(class='job-tile')
  a(href='#')
    div(class='job-tile-bg')
      img(src='./styles/logos/sundancenow.png' alt='test')
      div(class='job-tile-inner')
        div(class='job-tile-info') I shall be telling this with a sigh Somewhere ages and ages hence: Two roads diverged in a wood, and I—
      div(class="job-tile-overlay")

div(class='job-tile')
  a(href='#')
    div(class='job-tile-bg')
      img(src='./styles/logos/bthegarty.png' alt='test')
      div(class='job-tile-inner')
        div(class='job-tile-info') I took the one less traveled by, And that has made all the difference.
      div(class="job-tile-overlay")

div(class='job-tile')
  a(href='#')
    div(class='job-tile-bg')
      img(src='./styles/logos/compiler.png' alt='test')
      div(class='job-tile-inner')
        div(class='job-tile-info') hello this is a third test
      div(class="job-tile-overlay")

div(class='job-tile')
  a(href='#')
    div(class='job-tile-bg')
      img(src='./styles/logos/themanor.png' alt='test')
      div(class='job-tile-inner')
        div(class='job-tile-info') hello this is this is this is this is this is a test
      div(class="job-tile-overlay")
