div(class='job-tile')
  a(href='#')
    div(class='job-tile-bg')
      img(src='./styles/logos/logo.jpeg' alt='test')
      div(class='job-tile-inner')
        div(class='job-tile-info') hello this is a test
      div(class="job-tile-overlay")
        
div(class='job-tile')
  a(href='#')
    div(class='job-tile-bg')
      img(src='./styles/logos/logo.jpeg' alt='test')
      div(class='job-tile-inner')
        div(class='job-tile-info') hello this another test
      div(class="job-tile-overlay")
        
div(class='job-tile')
  a(href='#')
    div(class='job-tile-bg')
      img(src='./styles/logos/logo.jpeg' alt='test')
      div(class='job-tile-inner')
        div(class='job-tile-info') hello this is a third test
      div(class="job-tile-overlay")

div(class='job-tile')
  a(href='#')
    div(class='job-tile-bg')
      img(src='./styles/logos/logo.jpeg' alt='test')
      div(class='job-tile-inner')
        div(class='job-tile-info') hello this is this is this is this is this is a test
      div(class="job-tile-overlay")

div(class='job-tile')
  a(href='#')
    div(class='job-tile-bg')
      img(src='./styles/logos/logo.jpeg' alt='test')
      div(class='job-tile-inner')
        div(class='job-tile-info') hello this is a third test
      div(class="job-tile-overlay")

div(class='job-tile')
  a(href='#')
    div(class='job-tile-bg')
      img(src='./styles/logos/logo.jpeg' alt='test')
      div(class='job-tile-inner')
        div(class='job-tile-info') hello this is this is this is this is this is a test
      div(class="job-tile-overlay")
