div(class='navbar')
  ul(class='' id='navi')
    li
      a(class='navi-item' href='/about') About
    li
      a(class='navi-item' href='/projects') Projects  
    li
      a(class='navi-item' href='/volunteer') Volunteer 
    li
      a(class='navi-item' href='/Contact') Contact
    li
      a(class='navi-item' href='/doodles.png') Yes!
//-end top nav          
