div(class='navbar')
  ul(class='animate-reveal animate-second' id='navi')
    li
      a(class='navi-item' href='/about') About
    li
      a(class='navi-item' href='/projects') Projects  
    li
      a(class='navi-item' href='/volunteer') Volunteer 
    li
      a(class='navi-item' href='/Contact') Contact
    li
      a(class='navi-item' href='/') Yes!
//-end top nav          
