div(class='navbar')
  ul(class='' id='navi')
    li
      a(class='navi-item' href='/about') About
    li
      a(class='navi-item' href='/projects') Projects  
    li
      a(class='navi-item' href='/volunteer') Volunteer 
    li
      a(class='navi-item' href='/Contact') Contact
    li
      a(class='navi-item' href='/brendan-hegarty.pdf' target='_blank') Resume
//-end top nav          

//- mobile navi
div(class='mobile-nav')
  //- hamburgling a button 
  input(class='mobile-nav-input' type='checkbox')
  span
  span 
  span
    
  ul(class='mobile-list')
    li 
      a(class='mobile-item' href='/about') About
    li 
      a(class='mobile-item' href='/projects') Projects
    li 
      a(class='mobile-item' href='/volunteer') Volunteer
    li 
      a(class='mobile-item' href='/contact') Contact
    li
      a(class='mobile-item' href='/brendan-hegarty.pdf' target='_blank') Resume
