div(class='container')
  div(class='tabSection animate-reveal animate-third')
    -var tabId = [0]
    div(class='tabs')
      div(class='tabButton-container')
        button(class='button' id='js-tabButton-1') amc
        button(class='button' id='js-tabButton-2') mlb
      
      div(class='tabContent-container' id='js-tab-container')
        div(class='divider')
        -var tabId = [0]
        div(class='tabContent active' id='test1')
          //- div
            //- image
          div(class='tab-header') amc networks
          div(class='tab-content')
            div(class='tab-subheader')
              img(class='tab-img' src='./styles/logos/shudder-logo-flat.png' alt='shudder')
              img(class='tab-img' src='./styles/logos/sundance.png' alt='sundance now')
            p(class='tab-desc') la la la la la. la la la la la
            //- text
        
        div(class='tabContent' id='test2')
          div(class='tab-header') mlb - advanced media
          div(class='tab-content')
            div(class='tab-subheader')
              img(class='tab-img' src='./styles/logos/mlb.gif' alt='mlb')
            p(class='tab-desc') la la la la la. la la la la la
