div(class='container')
  div(class='tabSection animate-reveal animate-third')
    div(class='tabs')
      div(class='tabButton-container')
        button(class='button' id='js-tabButton-1') amc
        button(class='button' id='js-tabButton-2') mlb
      
      div(class='tabContent-container' id='js-tab-container')
        div(class='divider')
        div(class='tabContent active' id='test1')
          //- div
            //- image
          div(class='tab-header') amc networks
          div(class='tab-content')
            div(class='tab-subheader')
              img(class='tab-img' src='./styles/logos/shudder-logo-flat.png' alt='shudder')
              img(class='tab-img' src='./styles/logos/sundance.png' alt='sundance now')
            p(class='tab-desc') Shudder and Sundance Now are two of AMC's premire streaming video on demand (svod) services. Working with the latest software to rebuild a new website and new data structure to serve the worlds most hardcore Horror and True Crime fans. I've had the oppourtunity to contribute to the whole tech stack; minor back-end work, qa engineer, and where I sit now as a front-end developer. I work prodomenitly with PUG and React.
            //- text
        div(class='tabContent' id='test2')
          div(class='tab-header') mlb - advanced media
          div(class='tab-content')
            div(class='tab-subheader')
              img(class='tab-img' src='./styles/logos/mlb.gif' alt='mlb')
            p(class='tab-desc') The digital arm of the Commisoners Office and the sports media giant. Baseball's advanced media group is known for bringing consumers MLB TV and teams new advanced metrics. Working with internal systems like StatCast and EBIS II helps to develop an understanding of big data. Located in Chealsea Market, BAM is a branch that gathers baseball's best analitical minds.  
