div(class='container')
  div(class='tabSection animate-reveal animate-first')
    -var tabId = [0]
    div(class='tabs')
      div(class='tabButton-container')
        button(class='button' id='js-tabButton-1') Test
        button(class='button' id='js-tabButton-2') Test
      
      div(class='tabContent-container' id='js-tab-container')
        div(class='divider')
        -var tabId = [0]
        div(class='tabContent active' id='test1')
          //- div
            //- image
          div(class='tab-header') mca
          div la la la la la. la la la la la
            //- text
        
        div(class='tabContent' id='test2')
          div(class='tab-header') lmm - ab
          div tests tests tests tests
