html(lang='en')
  head
    include ./includes/header.pug
    
  body
    div(class='container desc-sec')
      include ./includes/nav.pug
      div(class='pt-page')
        div(class='top-desc animate-reveal animate-first')
          div(class='desc-header') about the author
          div(class='desc-body') Analyizing big league data to providing in-home blood curdling screams.
    div(class='container about')      
      div(class='about-me-container animate-reveal animate-third md')
        div(class='about image')
          //- using aws to source images now
          img(class='vol-img img-curve me' src='https://bthegarty.s3.us-east-2.amazonaws.com/me-2.JPG' alt='Brendan by a wall')
        div(class='fun-facts')
          div(class='fact') I'm a New York based front-end developer and graduate of Marist College in Poughkeepsie, NY. Currently working for AMC Networks. I'm always trying to learn new things and work on something exciting.
          div(class='fact') Outside of the office it's easy to find me out on the Long Island Sound or playing some golf. I work with a youth leadership charity in Connecticut and do my best to find time for some snowboarding in the winter in upstate NY.
    div(class='container')
      div(class='pt-page')
        include ./includes/tabs.pug
    include ./includes/footer.pug
