html(lang='en')
  head
    include ./includes/header.pug
    
  body
    div(class='container desc-sec')
      include ./includes/nav.pug
      div(class='pt-page')
        div(class='top-desc animate-reveal animate-first')
          div(class='desc-header') about the author
          div(class='desc-body') Analyizing big league data to providing in-home blood curdling screams.
    div(class='container about')      
      div(class='about-me-container animate-reveal animate-third md')
        div(class='about image')
          //- using aws to source images now
          img(class='vol-img img-curve me' 
          src='https://bthegarty.s3.us-east-2.amazonaws.com/me-2.JPG?response-content-disposition=inline&X-Amz-Security-Token=AgoJb3JpZ2luX2VjEDEaCXVzLWVhc3QtMSJGMEQCIEvYWhi7Iu8FEu5TNZdSxzLLkS34WbdLGeYTDs28rE0QAiABXk1AUWrxnqR1wWOfBFBB2FVTsVTo7sUdDpVjs8yd%2FCrkAwip%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAAaDDg1MjU3NjQzNTExOCIM9Skx%2Fgt9TTLshn2zKrgDdaEe1hE4BYbvi%2Fb%2FC8ndUGPZ8Axeiu8HV0CYePqFxMJKLpkBSKVpX%2F5GL5yFsqcgKRC6E2bEztSVASX9bzQCyhYvzPvDo89N%2F2H9DDgfc5OX9LXYUCjHrXcQuXqEZ1Hnqu5x9%2FeMZ1Q4Yd8dWc97YBeZAzsObn257TOLrqqfD%2Bf1mTHWykMMX9FC%2F8zAOMBrKFnc%2FRZq60ZPYC6n1xjOfA5GthgZGECNV1SBMbv45d%2FTMu7ywyCwb9NTDPSI6i4fvTTuGDbnhjHYO%2Ba1pqBX6RO73Z%2Fa1hN9sM6%2BkNdKNwmZrdkc6DRbQIw7akwjb5Nf0U9hwJvu6G9VYBBDLTnRwS%2FYhETXGS7ibpxYkHNow8wlYAkoX4LoQfG9d8842jtHzO5TMcyNKNg1dI5oesP0TBVeEK2aJcr%2Btkr1OHiNx4kuZFrwQYqW71CXRw9dRq%2Fuldcdy%2FT00bgkBTbNfjjSUwXaZXW6cvNM9nlcWgMPGx5JSreIbHYtazQvkS6U99EHPCBKlN7b51pITYzEFVVSWix5uIBh1XdXo58lNjK3Djl0LQmut5ic6KniujcJG5ZQ5OhrSOxb7QAwsfuG6gU6tQEsv42H0Q2ZgvHuxnBxrBIjqleMN7UysVtLrBbsxF1ClfLZdkDHP8UijmvRU4IZHbm%2FpBZmfsbttINjj76Bc%2FeVnv8YXwAmtXiY2serSJT9FQ%2Bo5SKXzcyGzGl5Nf2qA%2Ba4aJ3rbAn2RhLbw5zC7QUrV6v8%2F3FsZ1bUWt%2FlI7F3pxr8ImRb9dDtbr9lRxpmBVUXzpVOuL2F4FLafB9ybZ4xKG06Fviv%2BlmlUXabOd5CNlZLRHMG&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20190731T204424Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIA4NAMD7OXMHUKSW4P%2F20190731%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Signature=702407122e35a74fb2bc19785166cb65ad8287608da3c472f794da4ea5d83832' 
          alt='Brendan by a wall')
        div(class='fun-facts')
          div(class='fact') I'm a New York based front-end developer and graduate of Marist College in Poughkeepsie, NY. Currently working for AMC Networks. I'm always trying to learn new things and work on something exciting.
          div(class='fact') Outside of the office it's easy to find me out on the Long Island Sound or playing some golf. I work with a youth leadership charity in Connecticut and do my best to find time for some snowboarding in the winter in upstate NY.
    div(class='container')
      div(class='pt-page')
        include ./includes/tabs.pug
    include ./includes/footer.pug
