html(lang='en')
  head
    include ./includes/header.pug
    
  body
    div(class='container desc-sec')
      include ./includes/nav.pug
      div(class='pt-page')
        div(class='top-desc animate-reveal animate-first')
          div(class='desc-header') Contact me
          div(class='desc-body') Sometimes you need a web developer, I get that. That's why I exist... probably.

    div(class='container about contact')
      div(class='about-me-container animate-reveal animate-third')
        div(class='about image')
          img(class='vol-img me' src='./styles/logos/carry.jpg' alt='test')
        div(class='fun-facts')
          div(class='fact-head') Let's talk
          div(class='fact') I'm excited to meet you!


    include ./includes/footer.pug
