html(lang='en')
  head
    include ./includes/header.pug
    
  body
    div(class='container desc-sec')
      include ./includes/nav.pug
      div(class='pt-page')
        div(class='top-desc animate-reveal animate-first')
          div(class='desc-header') Contact me
          div(class='desc-body') Test sentence for a little test description

    div(class='container')

    include ./includes/footer.pug
