html(lang='en')
  head
    include ./includes/header.pug
    
  body
    div(class='container center')
      div(class='pt-page')
        div(class='page-inner pt-page-1')
          h1(class='heading animate-reveal animate-first') E Ploribis
            div(class='subheading') Unum 
          a(class='button spacing' href='/about')
            div(class='enter animate-reveal animate-first') Enter
          a(class='bh-image animate-reveal animate-first' href='/about')
      include ./includes/footer.pug
