html(lang='en')
  head
    title bthegarty 2.0
    meta(name='viewport' content='user-scalable=0')
    link(rel='shortcut icon' href='./styles/icon.png')
    link(rel='stylesheet', href='./styles/style.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet')
    script(defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous")
    //-jquery must be referenced before the script using it 
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='./script.js') 
    script(src='./particles.js')
    //-for the scroll state
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")  
    //- LETS MAKE THIS SINGLE SCROLL
    
  body
    //- nav bar
    ul(id='navi' role='navigation')
      div(class='navbar')
        li(class='flexin')
          a(class='btn active' href='#welcome') Hegarty 2.0  
            i(class='fas fa-space-shuttle') 
        li
          a(href='#about-buffer') About 
            i(class='far fa-lemon') 
        li
          a(href='#abroad') Abroad  
            i(class='fas fa-globe')
        li
          a(href='#career-buffer') Career  
            i(class='fas fa-code')
        li
          a(class='end-nav' href='#projects') Projects  
            i(class='fas fa-code-branch')
          
    //- start mobile nav
    div(class='mobile-nav')
      ul(class='mobile-list' role='navigation')
        li(class='mobile-item')
          a(class='active' href='#welcome') Home  
            i(class='fas fa-space-shuttle') 
        li(class='mobile-item')
          a(href='#about-buffer') About 
            i(class='far fa-lemon') 
        li(class='mobile-item')
          a(href='#abroad') Abroad 
            i(class='fas fa-globe') 
        li(class='mobile-item')
          a(href='#career-buffer') Career  
            i(class='fas fa-code')
        li(class='mobile-item')
          a(href='#projects') Projects  
            i(class='fas fa-code-branch')
    //- end mobile nav
    
    //- body content
    div(id='particles-js')
    div(id='welcome' class='container tag-line')
      h1(class='intro') Welcome to bthegarty 2.0!
        p Web Developer looking for love
      div(class='scroll')
        a(href='#about-buffer') Scroll
          span
    div(id='about-buffer') 
    div(id='about')
      div(class='section-1')
        img(class='about-img' src='./styles/logos/seal.png' alt='Marist')
        h4 hey 
        div(class='about-divide') 
      div(class='section-2')
        img(class='about-img' src='./styles/logos/seal.png' alt='Marist')
        h4 Marist College 
        div(class='about-divide')
        div(class='college') Marist College Class of 2017. B.S. from The School of Computer Science and Mathematics with a major in Computer Science and minors in Information Technology and Information Systems.
      div(class='section-3')
        img(class='about-img' src='./styles/logos/seal.png' alt='Marist')
        h4 hey
        div(class='about-divide')
      //- div(class='screen college')
        //- div(class='screen-text') Marist College Class of 2017. B.S. from The School of Computer Science and Mathematics with a major in Computer Science and minors in Information Technology and Information Systems.
      //- div(class='screen lang')
        //- div(class='screen-text') JavaScript, TypeScript, Java, PHP, Python, HTML5, CSS, Sass, SQL.
      //- div(class='screen sports')
        //- div(class='screen-text') I am an avid snowboarder and golfer. Former memeber of the Marist College Computer Society as well as several Marist College Intermural Sports.
      //- div(class='screen music')
        //- div(class='screen-text') Music is a large part of my life and who I am. I am classically trained in the violin (15 years), and the piano (4 years). I also play guitar in my spare time.
    div(id='abroad')
      div(class='ab-container')
    div(id='career-buffer')
      div(class='ab-container')
    div(id='career-tag') Currently working for AMC as a QA Engineer and Front-End Coder
    div(id='career')
      div(class='job-box') 
        div(class='job-mlb')
          div(class='job-circle')
            img(src='./styles/logos/mlb.gif' alt='MLB')
          div(class='job-title') IT Analyst
          div(class='great-divide')
          p An intern and member of the IT team, I collected data from the 30 MLB affiliated clubs in an effort to constantly find ways to increase productivity and push clubs more towards technolgy integration.
      div(class='job-box')
        div(class='job-amc')
          div(class='job-circle')
            img(src='./styles/logos/AMC_Networks_logo.png' alt='AMC')
          div(class='job-title') QA Engineer
          div(class='great-divide')
          p Currently, I am a QA Engineer for Shudder and Sundance Now, two of AMC networks streaming subscription services and helped with the refreshing of both sites.
      div(class='job-box')
        div(class='job-bam')
          div(class='job-circle')
            img(src='./styles/logos/mlb.gif' alt='BAM')
          div(class='job-title') QA Analyst
          div(class='great-divide') 
          p A QA intern working with the MLB internal player database, I wrote SQL queries and created extensive data maps. I was a part of the MLB draft tech team from 2015-2016.
      div(class='bottom-space')
    div(id='projects')

    //- end body content
    //- start footer
    div(class='container footer')
      div(class='flexable') Marist College - Brendan Hegarty - Developer 
      a(target='_blank' href='https://www.linkedin.com/in/brendan-hegarty-a91186104/')
        i(class='fab fa-linkedin-in fa-2x')
      a(target='_blank' href='https://www.facebook.com/brendan.hegarty.14')
        i(class='fab fa-facebook-f fa-2x')
      a(target='_blank' href='https://www.instagram.com/b_hegs1/?hl=en')
        i(class='fab fa-instagram fa-2x')
      a(target='_blank' href='https://github.com/bthegarty')
        i(class='fab fa-github fa-2x')
