html(lang='en')
  head
    title Brendan Hegarty
    meta(name='viewport' content='user-scalable=0')
    link(rel='shortcut icon' href='./styles/logos/me.png')
    link(rel='stylesheet', href='./styles/style.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet')
    script(defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous")
    //-jquery must be referenced before the script using it 
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='./script.js') 
    //-for the scroll state
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")  
    //- LETS MAKE THIS SINGLE SCROLL
    
  body
    //- nav bar
    div(class='navbar' id='menu-center')
        li(class='flexin')
          a(class='btn active' href='#welcome') Hegarty  
            i(class='fas fa-space-shuttle' data-fa-transform="rotate-270") 
        li
          a(href='#about') About 
            i(class='far fa-lemon') 
        li
          a(href='#abroad') Abroad  
            i(class='fas fa-globe')
        li
          a(href='#career') Career  
            i(class='fas fa-code')
        li
          a(class='end-nav' href='#projects') Projects  
            i(class='fas fa-code-branch')
          
    //- start mobile nav
    div(class='mobile-nav')
      ul(class='mobile-list' role='navigation')
        li(class='mobile-item')
          a(href='#welcome')
            i(class='fas fa-space-shuttle' data-fa-transform="rotate-270") 
            a(href='#welcome') Home  
        li(class='mobile-item')
          a(href='#about-page')
            i(class='far fa-lemon') 
            a(href='#about-page') About 
        li(class='mobile-item')
          a(href='#abroad')
            i(class='fas fa-globe') 
            a(href='#abroad') Abroad 
        li(class='mobile-item')
          a(href='#career-tag')
            i(class='fas fa-code')
            a(href='#career-tag') Career  
        li(class='mobile-item')
          a(href='#projects')
            i(class='fas fa-code-branch')
            a(href='#projects') Projects  
    //- end mobile nav
    
    //- body content
    div(id='welcome' class='container tag-line')
      div(class='content-container')
        h1(class='intro animate-reveal animate-first') Hey there. I'm Brendan 
          p(class='animate-reveal animate-second') Web developer who focuses on clean design
        //- add social links here. We can animate them up inline block for web and block for mobile web 
      div(class='social-home animate-reveal animate-third')  
        a(class='link' target='_blank' href='https://www.linkedin.com/in/brendan-hegarty-a91186104/')
          i(class='fab fa-linkedin-in fa-2x')
        a(class='face' target='_blank' href='https://www.facebook.com/brendan.hegarty.14')
          i(class='fab fa-facebook-f fa-2x')
        a(class='insta' target='_blank' href='https://www.instagram.com/b_hegs1/?hl=en')
          i(class='fab fa-instagram fa-2x')
        a(class='git' target='_blank' href='https://github.com/bthegarty')
          i(class='fab fa-github fa-2x')
      div(class='scroll')
        a(href='#about') Scroll
            span
      //- this should animate the squares. Inspect in console over these
      
      //- it doesnt use JS. just look for bg-bubbles in pages.scss    
      ul(class='bg-bubbles')
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li
              
    div(id='about') 
    div(id='about-page')
      div(class='section-1')
        img(class='about-img' src='./styles/logos/seal.png' alt='Marist')
        h3 Marist College 
        div(class='about-divide')
        div(class='college') Marist College Class of 2017. B.S. from The School of Computer Science and Mathematics with a major in Computer Science and minors in Information Technology and Information Systems.
      div(class='section-2')
        img(class='about-img' src='./styles/logos/me.png' alt='Me')
        h3 Me
        div(class='about-divide')
        div(class='college') I am an avid snowboarder and golfer. Former memeber of the Marist College Computer Society as well as several Marist College Intermural Sports.
          p <!--blank space y'all-->
        div(class='college') Music is a large part of my life and who I am. I started playing the violin at 7 and have used the same insturment for the last 12 years. I also play guitar and piano in my spare time.
      div(class='section-3')
        img(class='about-img' src='./styles/logos/seal.png' alt='Marist')
        h3 Code
        div(class='about-divide')
        div(class='college') JavaScript, TypeScript, Java, PHP, Python, HTML5, CSS, Sass, SQL.

    div(id='abroad')
      div(class='ab-container')
        div(class='img-align')
          img(class='ab-img' src='./styles/logos/seal.png' alt='Marist')
        div(class='triangle-align')    
          div(class='triangle')
      div(class='ab-2-con')
        h4 Marist in the Dominican Republic:
          p In 2015 I was given the oportunity to travel to Cabarete in the Dominican Republic and teach at a local puclic school. Led by Dr. Carolyn C. Matheus and Dr. Kevin M. Gaugler, myself and several of my fellow students worked to create a curriculum to teach basic computer science concepts.
        h4 Palms Open Project:
          p We used a small abroad service group called the Palms Open Project. Their mission is to share the culture of the DR with others who want to learn about the history and lifestyle of the nation.
        h4 Teaching Experience:
          p In my time there I helped teach basic concepts of coding and technology ranging from Scratch, to robotics, to raspberry pie development.
        h4 Learn More About the Programs Here:
          p
            a(class='learn' href='http://www.marist.edu/compscimath/computer-science-service-learning.html' target='_blank') Marist in the DR. 
            a(class='learn' href='http://www.palmsopenproject.com/' target='_blank') Palms Open Project.
        
    div(id='career')
      div(class='ab-container')
      div(class='ab-2-con')
    div(id='career-tag') Currently working for AMC Networks as a QA Engineer
    div(id='career-page')
      div(class='job-box') 
        div(class='job-mlb')
          div(class='job-circle')
            img(src='./styles/logos/mlb.gif' alt='MLB')
          div(class='job-title') IT Analyst
          div(class='great-divide')
          p A member of the IT team, I collected data from and maintained constant contact with the 30 MLB affiliated clubs in an effort to constantly find ways to increase productivity and push clubs more towards technolgy integration.
      div(class='job-box')
        div(class='job-amc')
          div(class='job-circle')
            img(src='./styles/logos/AMC_Networks_logo.png' alt='AMC')
          div(class='job-title') QA Engineer
          div(class='great-divide')
          p A QA Engineer for Shudder and Sundance Now, two of AMC networks streaming subscription services. I handle Web bugs and hotfixes as well as feature/bug releases for all platforms(Android, iOS, Web, Roku, & Apple TV). I also write HTML Email campaigns for both serivces.
      div(class='job-box')
        div(class='job-bam')
          div(class='job-circle')
            img(src='./styles/logos/mlb.gif' alt='BAM')
          div(class='job-title') QA Analyst
          div(class='great-divide') 
          p A part of the QA team working with the MLB internal player & store databases, I wrote SQL queries and created extensive data maps. I was a part of the MLB draft tech team from 2015-2016.
      //- div(class='bottom-space')
        
    div(id='projects')
      //- add a similar class with large square boxes above circular buttons
      //- Row 1 Boxes
      div(class='projects-box')
        div(class='boxes') 
          div(class='label')
            span
              i(class='fas fa-terminal')
          p Made for a psuedo JS language and written in JS this project was a final test of skill my senior year of college.
          p <!--blank spacing-->  
            a(class='inner-btn' target='_blank' href='https://bthegarty.github.io/') Compiler
        div(class='white-space')
        div(class='boxes') 
          div(class='label')
            span
              i(class='fas fa-graduation-cap')  
          p I keep a repository of the old versions of this website whenever a milestone update rolls out. Check out 1.0 here.
          //-p I am currently building a website for a HS Math teacher to house materials for her students as well as update the curriculum.
          p <!--blank spacing-->  
            a(class='inner-btn' target='_blank' href='#') Coming Soon
        div(class='white-space')
        div(class='boxes') 
          div(class='label')
            span
              i(class='fas fa-bed')  
          p Windham Manor is a premiere venue for weddings and other events in the Catskills. A current project of mine coming soon...
          p <!--blank spacing-->  
            a(class='inner-btn' target='_blank' href='https://github.com/bthegarty') Windham Manor
      
      //- Row 1 buttons       
      div(class='projects-container')
        a(target='_blank' href='https://bthegarty.github.io/') Compiler
        div(class='white-space')
        a(target='_blank' href='https://github.com/bthegarty/OFS-bthegarty.com-1.0') Versions
        div(class='white-space')
        a(target='_blank' href='https://github.com/bthegarty') Coming Soon...
      
      //- Row 2 Boxes
      //- add shudder and sundance and something else
      div(class='projects-box')
        div(class='boxes') 
          div(class='label')
            span
              img(src='./styles/logos/shudder.webp' alt='shudder')
          p A horror/thriller streaming service where I am the main Web QA and fix UI bugs for the new Shudder. 
          p <!--blank spacing-->  
            a(class='inner-btn' target='_blank' href='https://www.shudder.com') Shudder
        div(class='white-space')
        div(class='boxes')
          div(class='label')
            span
              img(class='sn' src='./styles/logos/sundance.png' alt='sundance')
          p Documentaries and Film Festival hits. The sister service to Shudder where I am also the main Web Team QA.
          p <!--blank spacing-->  
            a(class='inner-btn' target='_blank' href='https://www.sundancenow.com') Sundance Now
        div(class='white-space')
        div(class='boxes')
          div(class='label')
            span
              i(class='fab fa-github-alt')
          p My git houses all of my public projects including the old versions of this website, my compiler, and several test repos.
          p <!--blank spacing-->
            a(class='inner-btn' target='_blank' href='https://bthegarty.github.io/') GitHub
      
      //-Row 2 buttons 
      div(class='projects-container')
        a(target='_blank' href='https://www.shudder.com/') 
          p(class='shudder') Shudder
        div(class='white-space')
        a(target='_blank' href='https://www.sundancenow.com/') Sundance Now
        div(class='white-space')
        a(target='_blank' href='https://github.com/bthegarty') GitHub
    //- I think rewrite these with a display none for mobile view. It's to complex as is  
      
    //- div(class='bottom-tag')
      div(class='goodbye') See a balk is when you make a... okay it's actually any motion that goes towrads. I need to just start over

    //- end body content
    //- start footer
    div(class='container footer')
      div(class='flexable') Marist College - Brendan Hegarty - Developer 
      a(target='_blank' href='https://www.linkedin.com/in/brendan-hegarty-a91186104/')
        i(class='fab fa-linkedin-in fa-2x')
      a(target='_blank' href='https://www.facebook.com/brendan.hegarty.14')
        i(class='fab fa-facebook-f fa-2x')
      a(target='_blank' href='https://www.instagram.com/b_hegs1/?hl=en')
        i(class='fab fa-instagram fa-2x')
      a(target='_blank' href='https://github.com/bthegarty')
        i(class='fab fa-github fa-2x')
