//- easter egg that is a NES version of my website 
//- https://github.com/BcRikko/NES.css
HTML(lang='en')
  head
    title Brendan Hegarty
    meta(name='viewport' content='user-scalable=0')
    link(rel='shortcut icon' href='./styles/logos/me.png')
    link(href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='./script.js') 
    //-for the scroll state
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")  

//-header

//-body 

//-footer
