html 
  head
    title 404 Not Found
    meta(name='viewport' content='user-scalable=0')
    link(rel='shortcut icon' href='./styles/logos/me.png')
    link(rel='stylesheet', href='./styles/style.css')
    
  body
    div(class='not-found') 
      div(class='lost-img')
        img(src='./styles/logos/404.png' alt='404_Not_Found')
      h1(class='alert') 404
      div(class='not-found-text') Hey you got a 404 error. Somewhere a page got lost.
        a(href='/') Click here to be return to my site. 
      div(class='other-projects') Click below to see my current projects:
      
      
      
