html(lang='en')
  head
    include ./includes/header.pug
    
  body
    div(class='container desc-sec')
      include ./includes/nav.pug
      div(class='pt-page')
        div(class='top-desc animate-reveal animate-first')
          div(class='desc-header') Giving Back
          div(class='desc-body') I get to work with some great organizations for some truly great causes. Check them out below.

    div(class='container')
      div(class='vol-wrapper animate-reveal animate-third')
        div(class='vol-item')
          a(href='https://www.hoby.org/' target='_blank')
            img(class='vol-img hoby' src='./styles/logos/hobyguy.png' alt='hoby')
          div(class='vol-desc')
            div(class='vol-header') hugh o'brian youth leadership (hoby)
            p For the past two years I have had the priviledge to work with some of Connecticut's best and brightest high school students. HOBY works with children to promote leadershipt, critical thinking, teamwork, and over coming adversity.
            p HOBY does a monthly community outreach activity that is meant to give back (Ronald McDonald House dinners, pack the bus drives, etc..) and once a year for the last weekend in May CT public schools nominate students to come to a 3 day leadership seminar.
        div(class='vol-item')
          a(href='https://www.marist.edu/computer-science-math' target='_blank')
            img(class='vol-img marist' src='./styles/logos/seal.png' alt='marist-college')
          div(class='vol-desc')
            div(class='vol-header') marist in the dominican republic
            p Led by Dr. Carolyn C. Matheus and Dr. Kevin M. Gaugler, myself and several of my fellow students worked to create a curriculum to teach basic computer science concepts. 
            p The students were always ready to learn and they were more than happy to share their culture. Soccer balls and baseballs were always present and our 6 hour summer school day was always capped with a 15 minute school dance in the courtyard.
    include ./includes/footer.pug
