html(lang='en')
  head
    include ./includes/header.pug
    
  body
    div(class='container desc-sec')
      include ./includes/nav.pug
      div(class='pt-page')
        div(class='top-desc animate-reveal animate-first')
          div(class='desc-header') Giving Back
          div(class='desc-body') I get to work with some great organizations for some truly great causes. 

    div(class='container')
      div(class='vol-wrapper animate-reveal animate-third')
        div(class='vol-item')
          a(href='https://www.hoby.org' target='_blank')
            img(class='vol-img hoby' src='https://bthegarty.s3.us-east-2.amazonaws.com/HOBYguy.png?response-content-disposition=inline&X-Amz-Security-Token=AgoJb3JpZ2luX2VjEDEaCXVzLWVhc3QtMSJGMEQCIEvYWhi7Iu8FEu5TNZdSxzLLkS34WbdLGeYTDs28rE0QAiABXk1AUWrxnqR1wWOfBFBB2FVTsVTo7sUdDpVjs8yd%2FCrkAwip%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAAaDDg1MjU3NjQzNTExOCIM9Skx%2Fgt9TTLshn2zKrgDdaEe1hE4BYbvi%2Fb%2FC8ndUGPZ8Axeiu8HV0CYePqFxMJKLpkBSKVpX%2F5GL5yFsqcgKRC6E2bEztSVASX9bzQCyhYvzPvDo89N%2F2H9DDgfc5OX9LXYUCjHrXcQuXqEZ1Hnqu5x9%2FeMZ1Q4Yd8dWc97YBeZAzsObn257TOLrqqfD%2Bf1mTHWykMMX9FC%2F8zAOMBrKFnc%2FRZq60ZPYC6n1xjOfA5GthgZGECNV1SBMbv45d%2FTMu7ywyCwb9NTDPSI6i4fvTTuGDbnhjHYO%2Ba1pqBX6RO73Z%2Fa1hN9sM6%2BkNdKNwmZrdkc6DRbQIw7akwjb5Nf0U9hwJvu6G9VYBBDLTnRwS%2FYhETXGS7ibpxYkHNow8wlYAkoX4LoQfG9d8842jtHzO5TMcyNKNg1dI5oesP0TBVeEK2aJcr%2Btkr1OHiNx4kuZFrwQYqW71CXRw9dRq%2Fuldcdy%2FT00bgkBTbNfjjSUwXaZXW6cvNM9nlcWgMPGx5JSreIbHYtazQvkS6U99EHPCBKlN7b51pITYzEFVVSWix5uIBh1XdXo58lNjK3Djl0LQmut5ic6KniujcJG5ZQ5OhrSOxb7QAwsfuG6gU6tQEsv42H0Q2ZgvHuxnBxrBIjqleMN7UysVtLrBbsxF1ClfLZdkDHP8UijmvRU4IZHbm%2FpBZmfsbttINjj76Bc%2FeVnv8YXwAmtXiY2serSJT9FQ%2Bo5SKXzcyGzGl5Nf2qA%2Ba4aJ3rbAn2RhLbw5zC7QUrV6v8%2F3FsZ1bUWt%2FlI7F3pxr8ImRb9dDtbr9lRxpmBVUXzpVOuL2F4FLafB9ybZ4xKG06Fviv%2BlmlUXabOd5CNlZLRHMG&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20190731T203237Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIA4NAMD7OXMHUKSW4P%2F20190731%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Signature=425ed6ef2b0f813ac20582f4ca06f8d9b2642c92004b0318435ba934d96e3a93' alt='hoby')
          div(class='vol-desc')
            div(class='header') hugh o'brian youth leadership (hoby)
            p For the past two years I have had the priviledge to work with some of Connecticut's best and brightest high school students. HOBY works with children to promote leadershipt, critical thinking, teamwork, and over coming adversity.
            p HOBY does a monthly community outreach activity that is meant to give back (Ronald McDonald House dinners, pack the bus drives, etc..) and once a year for the last weekend in May CT public schools nominate students to come to a 3 day leadership seminar.
        div(class='vol-item')
          a(href='https://www.marist.edu/computer-science-math' target='_blank')
            img(class='vol-img marist' src='https://bthegarty.s3.us-east-2.amazonaws.com/seal.png?response-content-disposition=inline&X-Amz-Security-Token=AgoJb3JpZ2luX2VjEDEaCXVzLWVhc3QtMSJGMEQCIEvYWhi7Iu8FEu5TNZdSxzLLkS34WbdLGeYTDs28rE0QAiABXk1AUWrxnqR1wWOfBFBB2FVTsVTo7sUdDpVjs8yd%2FCrkAwip%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAAaDDg1MjU3NjQzNTExOCIM9Skx%2Fgt9TTLshn2zKrgDdaEe1hE4BYbvi%2Fb%2FC8ndUGPZ8Axeiu8HV0CYePqFxMJKLpkBSKVpX%2F5GL5yFsqcgKRC6E2bEztSVASX9bzQCyhYvzPvDo89N%2F2H9DDgfc5OX9LXYUCjHrXcQuXqEZ1Hnqu5x9%2FeMZ1Q4Yd8dWc97YBeZAzsObn257TOLrqqfD%2Bf1mTHWykMMX9FC%2F8zAOMBrKFnc%2FRZq60ZPYC6n1xjOfA5GthgZGECNV1SBMbv45d%2FTMu7ywyCwb9NTDPSI6i4fvTTuGDbnhjHYO%2Ba1pqBX6RO73Z%2Fa1hN9sM6%2BkNdKNwmZrdkc6DRbQIw7akwjb5Nf0U9hwJvu6G9VYBBDLTnRwS%2FYhETXGS7ibpxYkHNow8wlYAkoX4LoQfG9d8842jtHzO5TMcyNKNg1dI5oesP0TBVeEK2aJcr%2Btkr1OHiNx4kuZFrwQYqW71CXRw9dRq%2Fuldcdy%2FT00bgkBTbNfjjSUwXaZXW6cvNM9nlcWgMPGx5JSreIbHYtazQvkS6U99EHPCBKlN7b51pITYzEFVVSWix5uIBh1XdXo58lNjK3Djl0LQmut5ic6KniujcJG5ZQ5OhrSOxb7QAwsfuG6gU6tQEsv42H0Q2ZgvHuxnBxrBIjqleMN7UysVtLrBbsxF1ClfLZdkDHP8UijmvRU4IZHbm%2FpBZmfsbttINjj76Bc%2FeVnv8YXwAmtXiY2serSJT9FQ%2Bo5SKXzcyGzGl5Nf2qA%2Ba4aJ3rbAn2RhLbw5zC7QUrV6v8%2F3FsZ1bUWt%2FlI7F3pxr8ImRb9dDtbr9lRxpmBVUXzpVOuL2F4FLafB9ybZ4xKG06Fviv%2BlmlUXabOd5CNlZLRHMG&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20190731T203504Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIA4NAMD7OXMHUKSW4P%2F20190731%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Signature=60c71e8c8ba8d6347c2b44c1e34c86f7589e6497574609d4b3a37c1e3b22e1be' alt='marist-college')
          div(class='vol-desc')
            div(class='header') marist in the dominican republic
            p Led by Dr. Carolyn C. Matheus and Dr. Kevin M. Gaugler, myself and several of my fellow students worked to create a curriculum to teach basic computer science concepts. 
            p The students were always ready to learn and they were more than happy to share their culture. Soccer balls and baseballs were always present and our 6 hour summer school day was always capped with a 15 minute school dance in the courtyard.
    include ./includes/footer.pug
