.about-me-container {
  border-radius: 5px;
  display: flex;
  margin: 0 auto;
  box-shadow: 3px 5px 63px 1px rgba(0, 0, 0, 0.6);

  .fun-facts {
    background-color: #af0000;
    border-radius: 0 5px 5px 0px;

    .fact-head {
      font-size: 80px;
      font-weight: bold;
      margin: -50px -45px;
      text-shadow: 0 2px 2px rgba(0,0,0,.2);
      text-transform: uppercase;

      @media screen and (max-width: 879px) {
        font-size: 40px;
        margin: 15px auto;
        margin-bottom: -25px;
        text-align: center;
      }
    }

    .fact {
      color: white;
      font-size: 18px;
      margin: 50px 25px;

      @media screen and (max-width: 879px) {
        font-size: 14px;
        margin: 25px 15px;
      }
    }

    @media screen and (max-width: 879px) {
      border-radius: 0 0 5px 5px;
    }
  }

  .me {
    max-width: 400px;

    @media screen and (max-width: 879px) {
      max-width: none;
      width: 100%;
    }
  }

  @media screen and (max-width: 879px) {
    flex-direction: column;
  }
}
