.animate-reveal {
  opacity: 0;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animate-first {
  -webkit-animation-delay: 250ms;
     -moz-animation-delay: 250ms;
       -o-animation-delay: 250ms;
          animation-delay: 250ms;
}

.animate-second {
  -webkit-animation-delay: 750ms;
     -moz-animation-delay: 750ms;
       -o-animation-delay: 750ms;
          animation-delay: 750ms;
}

.animate-third {
  -webkit-animation-delay: 750ms;
     -moz-animation-delay: 750ms;
       -o-animation-delay: 750ms;
          animation-delay: 750ms;
}


@keyframes fadeIn {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
