$light-grey: #7498a4;
$white: #fff;
$grey: #e7e7e7;
$dark-grey: #161f22;
$red: #c80000;
$dark-red: #af0000;
$blue: #3cb4e5;
$bone-grey: #efefef;

//- Green Fresh

$purple-grey: #50386b;
$cyan-bright: #379683;
$spring-green: #5cdb95;
$sprung-green: #8ee4af;
$cream-green: #edf5e1;

//- Vibrant 4th of july

$light-red: #fc4445;
$fee-green: #3feee6;
$blue-grey: #55bcc9;
$space-blue: #97caef;
$glass-blue: #cafafe;

//- Breakpoints

$xs: 320px;
$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1220px;
$xxl: 1440px;
