//- colors for 2.0 - 2.0
$grey: #403f45;
$light-grey: #eaeaea;
$bronze: #ad974f;
$dark-bronze: #8e793e;
$white: #fff;

//- some blues

$navy: #1c2237;
$deep-blue: #2d3759;
$blue: #3e4c7b;
$light-blue: #50619c;
