
$marist-red: #e31936;
$marist-grey: #ffcccc;
$red-light: #ff6666;
$red: #ff3333;
$dark-grey: #262626;
$white: #fff;
$font-black: #000;

//- colors for 2.0 - 2.0

$yellow: #fdec00;
$yellow-gold: #f4dd08;
$gold: #e6ce1d;
$grey: #403f45;

$light-grey: #eaeaea;
$bronze: #ad974f;
$dark-bronze: #8e793e;

//- some blues

$navy: #1c2237;
$deep-blue: #2d3759;
$blue: #3e4c7b;
$light-blue: #50619c;
