@import 'colors';

.footer{
  background-color: $navy;
  color: $light-grey;
  padding: 1em !important;
  // width: 100%;

  align-items: center;
  a{
    color: $light-grey;
    padding-left: 0.3em;
    padding-right: 0.3em;
  }
  .footer-top{
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    text-align: center;
    .contact-section{
      width: 100%;
      p{
        font-size: 20px;
      }
      a{
        border: 2px solid $bronze;
        background-color: transparent;
        text-decoration: none;
        color: $bronze;
        border-radius: 50px;
        padding: 10px 50px;
        font-size: 18px;
      }
      a:focus{
        outline: 0;
      }
      a:hover{
        background-color: $light-grey;
        color: $navy;
        transition: 0.5s;
        cursor: pointer;
      }
    }
    .demo-section{
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      p{
        font-size: 16px;
        margin: 0;
        padding-right: 10px;
      }
    }
    .social-section{
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      p{
        font-size: 16px;
        margin: 0;
        padding-right: 10px;
        padding-top: 5px;
      }
    }
  }
}
.flexable{
  text-align: center;
  display: block;
  color: $white;
}

.footer-divide{
  margin: 5px auto 5px auto;
  width: 575px;
  border-bottom: 1px solid $light-grey;
}

.footer a:hover{
  color: $bronze;
  transition: color 0.3s linear;
}

@media only screen and (min-width: 320px) and (max-width: 1020px) {
  .footer-top{
    display: block !important;
    .demo-section{
        p{
          display: none;
        }
        a{
          font-size: 30px;
          padding: 1em;
        }
    }
    .contact-section{
      p{
        font-size: 35px;
      }
      a{
        font-size: 35px;
      }
    }
    .social-section{
      p{
        display: none;
      }
      a{
        padding: 2em;
        font-size: 26px;
      }
    }
  }
}
