@import 'colors';

.footer{
  background-color: $dark-grey;
  color: $white;
  padding: 1em !important;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  align-items: center;
  .flexable{
    margin-right: auto;
  }
  a{
    color: $white;
    padding-left: 0.3em;
    padding-right: 0.3em;
  }
}

.footer a:hover{
  color: $marist-grey;
  transition: color 0.3s linear;
}

@media only screen and (min-width: 320px) and (max-width: 765px) {
    .footer{
      display: none;
    }
}
