@import 'colors';

$font: 'Roboto Condensed', sans-serif;

ul{
  padding: 0;
}

.navbar{
  list-style: none;
  margin: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.5s;
  z-index: 999;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  align-items: baseline;

  .flexin{
    margin-right: auto;
    font-size: 22px;
  }
}

.navbar a{
  text-decoration: none;
  display: block;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  color: $light-grey;
}

.navbar a:hover{
  color: $bronze;
}

.active, .btn:hover{
  color: $bronze !important;
}

.end-nav{
  padding-right: 1em;
}

.scrolled{
  background-color: $navy;
  transition: 0.5s;
}

.scrolled a{
  color: $light-grey;
}

// mobile nav support
$variable-menu-animation-time:        1s;
$variable-burger-animation-time:      .35s;

$variable-menu-animation-function:    cubic-bezier(.25, .1, .25, 1);
$variable-burger-animation-function:  cubic-bezier(.68, -.55, .265, 1.55);

section{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}

.menu{
  display: none;
}

#menu--toggle[type="checkbox"]:not(:checked),
#menu--toggle[type="checkbox"]:checked {
  display: none;
}

.menu--toggle__trigger,
.menu--toggle__burger,
.menu--toggle__burger:before,
.menu--toggle__burger:after {
  position: absolute;
  top: 2.75em;
  right: 1.25em;
  width: 4em;
  height: 3px;
  background-color: $navy;
  border-radius: 2px;
  cursor: pointer;
  z-index: 1000;
  transition: .5s ease-in-out;
}

.menu--toggle__trigger {
  height: 2em;
  background: none;
}

.menu--toggle__burger {

  &:before {
    content: "";
    top: 10px;
    left: 0;
  }
  &:after {
    content: "";
    top: 20px;
    left: 0;
  }
}

.menu__body {
  position: absolute;
  // overflow: hidden;
  display: grid;
  align-items: center;
  right: 0;
  width: 8em;
  height: 8em;
  margin: 0;
  padding: 0;
  background-color: $light-grey;
  border-bottom-left-radius: 100%;
  box-shadow: 3px 3px 7px rgba($grey, .2);
  z-index: 10;
  animation: checkboxUncheckedAnimation $variable-burger-animation-time both;
}

.menu__body-element,
.menu__body-link {
  display: none;
  text-decoration: none;
  font-size: 36px;
  letter-spacing: .2em;
  font-weight: normal;
  color: $navy;
  list-style: none;
  outline: 0;
}

.menu__body-element {
  text-indent: 2em;
}

.menu__body-link:hover {
  display: block;
  color: $bronze;
  // animation: changeWidthOfElementAnimation $variable-burger-animation-time both;
}

#menu--toggle:checked + .menu--toggle__trigger {

  & + .menu--toggle__burger {
    top: 35px;
    transform: rotate(135deg);
    // transition: transform $variable-burger-animation-time $variable-burger-animation-function;

    &:before {
      top: 0;
      transform: rotate(-90deg);
      // transition: transform $variable-burger-animation-time $variable-burger-animation-function;
    }
    &:after {
      top: 0;
      transform: rotate(90deg);
      // transition: transform $variable-burger-animation-time $variable-burger-animation-function;
    }
  }

  & + .menu--toggle__burger + .menu__body {
    // this expands the background
    animation: checkboxCheckedAnimation $variable-menu-animation-time $variable-menu-animation-function both;
  }

  & ~ .menu__body .menu__body-element,
  & ~ .menu__body .menu__body-link {
    display: flex;
    justify-content: center;
  }
}

/**
 *	Animations
 *
 *  @note checkboxCheckedAnimation - added fix for Microsoft Edge
 */
@keyframes checkboxCheckedAnimation {
  50% {
    width: 100vw;
    height: 100vh;
  }
  100% {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
}

@keyframes checkboxUncheckedAnimation {
  0% {
    width: 100vw;
    height: 100vh;
  }
}

@keyframes changeWidthOfElementAnimation {
  50% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}


@media only screen and (min-width: 320px) and (max-width: 1020px) {
  .menu{
    display: block !important;
  }
  .navbar{
    display: none;
  }
}
