@import 'colors';

$font: 'Roboto Condensed', sans-serif;

ul{
  padding: 0;
}

.navbar{
  list-style: none;
  margin: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.5s;
  z-index: 999;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  align-items: baseline;

  .flexin{
    margin-right: auto;
    font-size: 22px;
  }
}

.navbar a{
  text-decoration: none;
  display: block;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  color: $light-grey;
}

.navbar a:hover{
  color: $bronze;
}

.active, .btn:hover{
  color: $bronze !important;
}

.end-nav{
  padding-right: 1em;
}

.scrolled{
  background-color: $navy;
  transition: 0.5s;
}

.scrolled a{
  color: $light-grey;
}

// mobile nav support
.mobile-nav{
  ul{
    position: fixed;
    bottom: 0;
    width: 100%;
    list-style: none;
    margin: 0;
    overflow: hidden;
    background-color: $navy;

    display: none;
    align-items: baseline;
    justify-content: center;
  }
  a{
    text-decoration: none;
    display: block;
    font-size: 34px;
    color: $light-grey;
  }
  li{
    text-align: center;
    color: $light-grey;
    padding: 3em;
  }
  svg{
    font-size: 44px;
    padding: 10px;
  }
}


@media only screen and (min-width: 320px) and (max-width: 1020px) {
    .mobile-nav{
      ul{
        display: flex;
        z-index: 999;
      }
    }
    .navbar{
      display: none;
    }
}

@media only screen and (min-width: 200px) and (max-width: 500px) {
  .navbar a{
    display: none;
  }
}
