@import 'colors';

.navbar{
  transition: 0.5s;
  display: flex;
  justify-content: center;

  ul{
    display: flex;
    padding: 0;
    list-style: none;
  }

  li{
    margin: 10px 15px;
  }
}

.navbar a{
  color: $white;
  text-decoration: none;
  display: flex;
  padding-bottom: 5px;

  &.selected {
    background: linear-gradient(to left, $red, $red)left bottom no-repeat;
    background-size: 100% 3px;
    color: $red;

    &:hover {
      color: $red;
    }
  }
}

.navbar a:hover{
  color: $red;
  background: linear-gradient(to left, $red, $red)left bottom no-repeat;
  background-size: 100% 3px;
  // font-size: 14px;
  transition: 0.5s;
}


// mobile nav support
$variable-menu-animation-time:        2s;
$variable-burger-animation-time:      .35s;

$variable-menu-animation-function:    cubic-bezier(.25, .1, .25, 1);
$variable-burger-animation-function:  cubic-bezier(.68, -.55, .265, 1.55);

section{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}

.menu{
  display: none;
}

#menu--toggle[type="checkbox"]:not(:checked),
#menu--toggle[type="checkbox"]:checked {
  display: none;
}

.menu--toggle__trigger,
.menu--toggle__burger,
.menu--toggle__burger:before,
.menu--toggle__burger:after {
  position: absolute;
  top: 2.75em;
  right: 1.25em;
  width: 4em;
  height: 3px;
  background-color: $purple-grey;
  border-radius: 2px;
  cursor: pointer;
  z-index: 1000;
  transition: .5s ease-in-out;
}

.menu--toggle__trigger {
  height: 2em;
  background: none;
}

.menu--toggle__burger {

  &:before {
    content: "";
    top: 10px;
    left: 0;
  }
  &:after {
    content: "";
    top: 20px;
    left: 0;
  }
}

.menu__body {
  position: absolute;
  // overflow: hidden;
  display: grid;
  align-items: center;
  right: 0;
  width: 8em;
  height: 8em;
  margin: 0;
  padding: 0;
  background-color: $cyan-bright;
  border-bottom-left-radius: 100%;
  box-shadow: 3px 3px 7px rgba($spring-green, .2);
  z-index: 10;
  animation: checkboxUncheckedAnimation $variable-burger-animation-time both;
}

.menu__body-element,
.menu__body-link {
  display: none;
  text-decoration: none;
  font-size: 36px;
  letter-spacing: .2em;
  font-weight: normal;
  color: $purple-grey;
  list-style: none;
  outline: 0;
}

.menu__body-element {
  text-indent: 2em;
}

.menu__body-link:hover {
  display: block;
  color: $cream-green;
  // animation: changeWidthOfElementAnimation $variable-burger-animation-time both;
}

#menu--toggle:checked + .menu--toggle__trigger {

  & + .menu--toggle__burger {
    top: 35px;
    transform: rotate(135deg);
    // transition: transform $variable-burger-animation-time $variable-burger-animation-function;

    &:before {
      top: 0;
      transform: rotate(-90deg);
      // transition: transform $variable-burger-animation-time $variable-burger-animation-function;
    }
    &:after {
      top: 0;
      transform: rotate(90deg);
      // transition: transform $variable-burger-animation-time $variable-burger-animation-function;
    }
  }

  & + .menu--toggle__burger + .menu__body {
    // this expands the background
    animation: checkboxCheckedAnimation $variable-menu-animation-time $variable-menu-animation-function both;
  }

  & ~ .menu__body .menu__body-element,
  & ~ .menu__body .menu__body-link {
    display: flex;
    justify-content: center;
  }
}

/**
 *	Animations
 *
 *  @note checkboxCheckedAnimation - added fix for Microsoft Edge
 */
@keyframes checkboxCheckedAnimation {
  50% {
    width: 100vw;
    height: 100vh;
  }
  100% {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
}

@keyframes checkboxUncheckedAnimation {
  0% {
    width: 100vw;
    height: 100vh;
  }
}

@keyframes changeWidthOfElementAnimation {
  50% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}


@media only screen and (min-width: 320px) and (max-width: 1020px) {
  .menu{
    display: block !important;
  }
  .navbar{
    display: none;
  }
}
