@import 'colors';

$font: 'Roboto Condensed', sans-serif;

ul{
  padding: 0;
}

.navbar{
  list-style: none;
  margin: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.5s;
  z-index: 999;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  align-items: baseline;

  .flexin{
    margin-right: auto;
    font-size: 22px;
  }
}

.navbar a{
  text-decoration: none;
  display: block;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  color: $font-black;
}

.navbar a:hover{
  color: $marist-grey;
}

.active, .btn:hover{
  color: $marist-grey !important;
}

.end-nav{
  padding-right: 1em;
}

.scrolled{
  background-color: $dark-grey;
  transition: 0.5s;
}

.scrolled a{
  color: $white;
}

.scrolled-drop{
  background-color: $dark-grey;
  transition: 0.5s;
  color: $white;
}

.before-drop{
  padding-right: 115px;
}

// dropdown
.dropbtn{
  padding: 16px;
  border: none;
  font-size: 16px;
  font-family: $font;
}

.dropdown{
  position: fixed;
  right: 0;
  padding-top: 10px;
}

.dropdown-content{
  display: none;
  position: absolute;
  width: 112px;
  background-color: $dark-grey;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

  a{
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: $white;
  }
}

.dropdown-content a:hover{
  color: $red-light;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.dropdown:hover .dropbtn{
  color: $red-light;
}

// mobile nav support
.mobile-nav{
  ul{
    position: fixed;
    bottom: 0;
    width: 100%;
    list-style: none;
    margin: 0;
    overflow: hidden;
    background-color: $dark-grey;

    display: none;
    align-items: baseline;
    justify-content: center;
  }
  a{
    text-decoration: none;
    display: block;
    font-size: 24px;
    color: $white;
  }
  li{
    text-align: center;
    color: $white;
    padding: 3em;
  }
  svg{
    font-size: 30px;
    padding: 10px;
  }
}


@media only screen and (min-width: 320px) and (max-width: 1065px) {
    .mobile-nav{
      ul{
        display: flex;
        z-index: 999;
      }
    }
    .navbar{
      display: none;
    }
}

@media only screen and (min-width: 200px) and (max-width: 500px) {
  .navbar a{
    display: none;
  }
}
