.job-tile {
  margin-bottom: 30px;
  padding: 0 20px;
  display: flex;
  flex-direction: row-reverse;

  .job-img {
    // width: 75%;

    img {
      max-height: 450px;
      // width: 100%;
    }
  }

  &-info {
    line-height: 1.6;
    margin: 20px 0;
  }
}
