.job-tile {
  max-width: 400px;
  overflow: hidden;
  padding: 0 20px;

  &-bg {
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    img {
      border-radius: 10px;
      width: 100%;
    }
  }

  &-inner {
    position: absolute;
    color: $cream-green;
    bottom: 10;
    left: 10;
  }
}
