.job-tile {
  max-width: 800px;
  margin-bottom: 30px;
  padding: 0 20px;

  &-bg {
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    img {
      border-radius: 10px;
      width: 100%;
    }
  }

  &-inner {
    // background: linear-gradient(to top, black, rgba(25, 0, 0, 0));
    // position: absolute;
    // color: $cream-green;
    // bottom: 0;
    // left: 0;
    // height: 100%;
    // width: 100%;
  }

  &-info {
    position: absolute;
    bottom: 0;
    margin: 20px 10px;
    z-index: 1;
  }

  &-overlay {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    // transition: opacity 200ms ease-in-out;
    // background-color: rgba(0, 0, 0, .75);

    &:hover {
      opacity: .7;
    }
  }
}
