@import 'colors';

button {
	background-color: transparent;
	border: none;
	color: inherit;
	cursor: pointer;
	display: flex;
	font-size: 22px;
	text-transform: uppercase;

	&.spacing {
		letter-spacing: 2.5px;
		margin: 0 auto;
		transition: .4s ease-in-out;
	}

	.back {
		display: none;
	}

	&:focus {
		outline: 0;
	}

	&:hover {
		color: $cyan-bright;
		transition: .4s ease-in-out;
	}
}

.subheading {
	font-size: 44px;
	margin-top: 10px;
}

.pt-page {
	display: flex;
	flex-direction: column;
	justify-content: center;


	.pt-page-1 {
		height: 100vh;
		background-color: $spring-green;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	svg {
		bottom: 0;
		position: absolute;
		right: 0;
	}

	&.page-2 {
		.button {
			.back {
				display: block;
				position: fixed;
				top: 15;
				left: 15;
				z-index: 1;
			}
		}

		.pt-page-2 {
			align-items: center;
			display: flex;
			flex-direction: column;
			width: 100%;
		}

		.button {
			display: block;
		}
	}
}

.page-heading {
	margin-top: 75px;
	justify-content: center;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.job-tile-wrapper {
	display: flex;
	flex-flow: wrap;
	margin-bottom: 50px;

	.job-tile {
		width: calc((100% / 3) - 20px);
		margin-bottom: 20px;

		@media screen and (max-width: 1220px) {
			width: calc((100% / 2) - 20px);
		}

		@media screen and (max-width: 879px) {
			width: 100%;
		}
	}

	@media screen and (max-width: 929px) {
		justify-content: center;
	}
}
