@import 'colors';

// welcome page

#welcome{
  height: 725px;
  background-color: $marist-red;
}
.content-container{
  z-index: 2;
  .intro{
    margin-left: 3em;
    margin-top: 4em;
    transform: translateY(85px);
    // letter-spacing: 1px;
    p{
      margin-left: 1em;
      font-size: 44px;
    }
  }
}

.social-home{
  text-align: center;
  z-index: 1;
  a{
    padding: 1.5em;
    font-size: 24px;
    color: $font-black;
  }
  a:hover{
    color: $marist-grey;
  }
}

.scroll{
  margin-top: 13em;
  text-align: center;
  a{
    color: $white;
    text-decoration: none;
    letter-spacing: 2px;
    z-index: 1;
  }
  span{
    text-align: center;
    padding: 10px;
  }
}

.scroll a:hover{
  color: $dark-grey;
}

.scroll a span{
  position: absolute;
  // top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

// about page

#about-page{
  border-top: 1px solid $white;
  height: 656px;
  // background-color: $marist-grey;
  display: flex;
  color: $white;
  text-align: center;
  line-height: 1.2;
  .section-1{
    background-color: $red-light;
    height: 100%;
    width: 33.33%;
  }

  .section-2{
    background-color: $marist-grey;
    height: 100%;
    width: 33.33%;
    color: $font-black;
    .about-divide{
      border-bottom: 1px solid $font-black;
    }
  }

  .section-3{
    background-color: $red-light;
    height: 100%;
    width: 33.33%;
  }
}
//buffer
#about{
  height: 69px;
  background-color: $marist-red;
}

.about-img{
  padding-top: 1em;
  height: 75px;
  width: 75px;
}

.about-divide{
  margin: 30px auto 30px auto;
  width: 75px;
  border-bottom: 1px solid $white;
}

.college{
  padding-left: 1em;
  padding-right: 1em;
  font-size: 24px;
}

// abroad page

#abroad{
  height: 656px;
  background-color: $white;
  text-align: center;
  display: flex;
  border-top: 1px solid $white;
}

.triangle{
  display: none
}

.ab-container{
  height: 100%;
  width: 50%;
  background-color: $red;
  .ab-img{
    padding-top: 15em;
    height: 275px;
    width: 275px;
  }
}

.ab-2-con{
  height: auto;
  width: 50%;
  background-color: $white;
  padding-top: 4em;
  h4{
    padding-left: 2em;
    text-align: left;
    p{
      padding-left: none;
      line-height: 1.2;
      a{
        color: $font-black;
        text-decoration: none;
      }
    }
  }
}

.learn:hover{
  color: $marist-grey;
}

// career page

#career-page{
  height: 525px;
  background-color: $red-light;
  margin: 0 auto;
  padding: 0px 150px;
}

//buffer
#career{
  height: 69px;
  background-color: $white;
}

#career-tag{
  border-top: 1px solid $white;
  background-color: $marist-grey;
  text-align: center;
  height: 50px;
  padding: 50px 0px;
  font-size: 34px;
  justify-content: center;
}

.job-box{
  width: 33.33%;
  float: left;
  text-align: center;
  color: #555;
  margin-top: -45px;
  p{
    color: $white;
    font-size: 24px;
    line-height: 1.2;
  }
}

.job-circle{
  background-color: $red-light;
  width: 112px;
  height: 96px;
  padding-top: 25px;
  margin: 0px auto;
  border-radius: 56px;
}
.job-title{
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $white;
}

.job-amc{
  line-height: 20px;
  img{
    height: 35px;
    width: 80px;
  }
}

.job-mlb, .job-bam{
  img{
    height: 45px;
  }
}

.great-divide{
  margin: 30px auto 30px auto;
  width: 75px;
  border-bottom: 1px solid $marist-red;
}

// projects page

#projects{
  padding-top: 80px;
  height: 576px;
  // background-image: url(./logos/background.jpg);
  background-color: $white;
  text-align: center;
  .inner-btn{
    display: none;
  }
  .projects-box{
    justify-content: center;
    display: flex;
    align-items: center;
    padding-bottom: 2em;
    .boxes{
      width: 15%;
      height: 150px;
      border-radius: 10px;
      border: 3px solid $marist-red;
      text-decoration: none;
      background-color: $dark-grey;
      color: $white;
      .label{
        position: relative;
        top: -10px;
        span{
          background-color: $marist-red;
          border-radius: 30px;
          padding: 0 20px;
          align-items: center;
        }
      }
      p{
        padding: 0 10px;
      }
      img{
        height: 12px;
        padding: 0 3px;
      }
      .sn{
        height: 12px;
      }
    }
  }
  .projects-container{
    justify-content: center;
    display: flex;
    align-items: center;
    padding-bottom: 2em;
    a{
      width: 15%;
      height: 30px;
      border-radius: 45px;
      border: 2px solid $dark-grey;
      text-decoration: none;
      color: $dark-grey;
      padding-top: 10px;
      box-shadow: 0 2px 3px 0 rgba(0,0,0,.5);
    }
    a:hover{
      color: $marist-red;
      background-color: $dark-grey;
      border: 2px solid $marist-red;
      transition: 0.5s;
    }
    .shudder{
      margin: 0;
    }
    .shudder:hover{
      -webkit-animation: shake .1s infinite ease-in-out;
      animation: shake .1s infinite ease-in-out;
    }
  }
  .white-space{
    width: 50px;
  }
}


.screen{
  height: 33%;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 6em;
  .screen-text{
    background-color: $dark-grey;
    border-radius: 15px;
    text-align: left;
    font-size: 24px;
    padding: 1em;
    color: $white;
    -webkit-font-smoothing: antialiased;
  }
}

// particles
// this works I just cant see it
.bg-bubbles{
	position: absolute;
	top: 0;
	left: 0;
	width: 95%;
	height: 600px;

	z-index: 1;

	li{
		position: absolute;
		list-style: none;
		display: block;
		width: 40px;
		height: 40px;
		background-color:rgba(0,0,0,0.1);
		bottom: -108px;
    border-radius: 85px;

		-webkit-animation: square 25s infinite;
		animation:         square 25s infinite;

		-webkit-transition-timing-function: linear;
		transition-timing-function: linear;

		&:nth-child(1){
			left: 10%;
		}

		&:nth-child(2){
			left: 20%;

			width: 80px;
			height: 80px;

			animation-delay: 1s;
			animation-duration: 9s;
		}

		&:nth-child(3){
			left: 25%;
			animation-delay: 3.5s;
		}

		&:nth-child(4){
			left: 40%;
			width: 60px;
			height: 60px;

			animation-duration: 12s;

		}

		&:nth-child(5){
			left: 70%;
		}

		&:nth-child(6){
			left: 80%;
			width: 120px;
			height: 120px;

			animation-delay: 3s;
      animation-duration: 9s;
		}

		&:nth-child(7){
			left: 32%;
			width: 110px;
			height: 110px;

			animation-delay: .5s;
		}

		&:nth-child(8){
			left: 55%;
			width: 85px;
			height: 85px;

			animation-delay: 3.3s;
			animation-duration: 11s;
		}

		&:nth-child(9){
			left: 65%;
			width: 65px;
			height: 65px;

			animation-delay: 2s;
			animation-duration: 10s;
		}

		&:nth-child(10){
			left: 90%;
			width: 50px;
			height: 50px;

			animation-delay: 1.3s;
		}
	}
}

//for spinning the compainion cube
//  @-webkit-keyframes square {
//   0%   { transform: translateY(0); }
//   100% { transform: translateY(-700px) rotate(600deg); }
// }
@keyframes square {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-700px) rotate(600deg); }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  // 20% { transform: translate(-1px, 0px) rotate(1deg); }
  30% { transform: translate(2px, 1px) rotate(0deg); }
  40% { transform: translate(0px, -1px) rotate(1deg); }
  // 50% { transform: translate(-1px, 1px) rotate(-1deg); }
  60% { transform: translate(-1px, 0px) rotate(0deg); }
  70% { transform: translate(1px, 0px) rotate(-1deg); }
  // 80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(0px, 1px) rotate(0deg); }
  100% { transform: translate(0px, -1px) rotate(-1deg); }
}

@media only screen and (min-width: 320px) and (max-width: 1020px) {
    #welcome{
      height: -webkit-fill-available;
      .intro{
        margin-left: .5em;
        margin-right: .5em;
        margin-top: 4em;
        font-size: 94px;
      }
      p{
        font-size: 64px;
      }
      .bg-bubbles{
        li{
          display: none;
        }
      }
      .social-home{
        text-align: center;
        z-index: 1;
        display: grid;
        a{
          padding: 1.5em;
          font-size: 34px;
          color: $font-black;
        }
        .link{
          padding-right: 10em;
        }
        .face{
          padding-right: 5em;
        }
        .insta{

        }
        .git{
          padding-left: 5em;
        }
      }
    }
    .scroll{
      display: none;
    }

    #about-page{
      display: block;
      height: auto;
      .section-1{
        width: 100%;
        height: auto;
        padding-bottom: 5em;
      }
      .section-2{
        width: 100%;
        height: auto;
        padding-bottom: 5em;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
      }
      .section-3{
        width: 100%;
        height: auto;
        padding-bottom: 5em;
      }
      .about-img{
        height: 175px;
        width: 175px;
      }
    }

    #about{
      display: none;
    }

    #abroad{
      height: auto;
      .ab-container{
        height: auto;
        display: flex;
        justify-content: center;
      }
      .ab-2-con{
        width: 100%;
        // padding-top: 25%;
        // this padding needs adjusting for smaller screens
      }
      h4{
        font-size: 44px;
      }
      p{
        font-size: 34px;
      }
      img{
        align-items: center;
        justify-content: center;
        padding: 0;
      }
      .img-align{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .triangle-align{
        display: inline-flex;
        align-items: flex-end;
      }
      .triangle{
        z-index: 2;
      	border-left: 165px solid transparent;
      	border-right: 165px solid transparent;
      	border-bottom: 100px solid $white;
        position: absolute;
        display: block;
        left: 0;
      }
    }


    #career{
      display: none;
    }

    #career-tag{
      height: auto;
    }

    .screen{
      height: auto;
      padding-top: 1em;
    }
    .bg-bubbles{
      li{
        bottom: 90;
      }
    }
    .inner-btn{
      display: none !important;
    }

    #projects{
      height: -webkit-fill-available;
      .projects-box{
        justify-content: center;
        align-items: center;
        padding-left: 2em;
        padding-right: 2em;
      }
      .boxes{
        width: 100% !important;
      }
      .projects-container{
        display: none;
      }
      .inner-btn{
        align-items: baseline;
        display: block;
        height: 30px;
        border-radius: 45px;
        border: 2px solid $marist-red;
        text-decoration: none;
        color: $white;
        padding-top: 10px;
        // box-shadow: 0 2px 3px 0 rgba(0,0,0,.5);
      }
      .inner-btn:hover{
        background-color: $white;
        color: $dark-grey;
      }
    }
    #career-page{
      padding: 0;
      padding-bottom: 2em;
      height: auto;
      .job-box{
        width: auto;
        float: none;
        padding-top: 2em;
        margin-top: 0;
        display: flex;
        justify-content: center;
      }
      .job-circle{
        background-color: $marist-grey;
      }
      .job-mlb{
        width: 90%;
        background-color: $marist-grey;
        border-radius: 16px;
        padding-bottom: 1em;
        box-shadow: 0 2px 3px 0 rgba(0,0,0,.5);
      }
      .job-amc{
        width: 90%;
        background-color: $marist-grey;
        border-radius: 16px;
        padding-bottom: 1em;
        box-shadow: 0 2px 3px 0 rgba(0,0,0,.5);
      }
      .job-bam{
        width: 90%;
        background-color: $marist-grey;
        border-radius: 16px;
        padding-bottom: 1em;
        box-shadow: 0 2px 3px 0 rgba(0,0,0,.5);
      }
    }
}

@media only screen and (min-width: 1055px) and (max-width: 1250px) {
  #career-page{
    .job-box{
      p{
        font-size: 18px;
      }
    }
  }
}
