@import 'colors';

// welcome page

#welcome{
  height: 725px;
  background-color: $marist-red;
}

.intro{
  margin-left: 3em;
  margin-top: 5em;
  // letter-spacing: 1px;
  p{
    margin-left: 1em;
    font-size: 44px;
  }
}

.scroll{
  margin-top: 13em;
  text-align: center;
  a{
    color: $white;
    text-decoration: none;
    letter-spacing: 2px;
    z-index: 1;
  }
  span{
    text-align: center;
    padding: 10px;
  }
}

.scroll a:hover{
  color: $gold;
}

.scroll a span{
  position: absolute;
  // top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

// about page

#about{
  height: 725px;
  background-color: $marist-grey;
  display: flex;
  padding-left: 2em;
  padding-right: 2em;
}

// abroad page

#abroad{
  height: 656px;
  background-color: #2cb5e8;
}

// career page

#career{
  height: 525px;
  background-color: $gold;
  margin: 0 auto;
  padding: 0px 150px;
  border-top: 1px solid $white;
}

#career-buffer{
  height: 69px;
  background-color: #2cb5e8;
}

#career-tag{
  background-color: #dedecd;
  text-align: center;
  height: 50px;
  padding: 50px 0px;
  font-size: 34px;
  justify-content: center;
}

.job-box{
  width: 20%;
  float: left;
  margin-right: 20%;
  text-align: center;
  color: #555;
  margin-top: -45px;
}

.last-job-box{
  width: 20%;
  float: left;
  text-align: center;
  color: #555;
  margin-top: -45px;
}

.job-circle{
  background-color: $gold;
  width: 112px;
  height: 96px;
  padding-top: 25px;
  margin: 0px auto;
  border-radius: 56px;
}
.job-title{
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $white;
}

.job-amc{
  img{
    height: 35px;
    width: 70px;
  }
}

.job-mlb, .job-bam{
  img{
    height: 45px;
  }
}

.great-divide{
  margin: 30px auto 30px auto;
  width: 50px;
  border-bottom: 1px solid $marist-red;
}

// projects page

#projects{
  height: 725px;
  background-color: $white;
}


.screen{
  height: 33%;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 6em;
  .screen-text{
    background-color: $dark-grey;
    border-radius: 15px;
    text-align: left;
    font-size: 24px;
    padding: 1em;
    color: $white;
    -webkit-font-smoothing: antialiased;
  }
}

// particles
#particles-js {
  position: absolute;
  // z-index: -1;
  width: 100%;
  height: 100%;
  // background-color: $marist-red;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}

@media only screen and (min-width: 320px) and (max-width: 765px) {
    #about{
      display: block;
    }
    .screen{
      height: auto;
      padding-top: 1em;
    }
}
