.animate-reveal {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animate-first {
  -webkit-animation-delay: 250ms;
  -moz-animation-delay: 250ms;
  -o-animation-delay: 250ms;
  animation-delay: 250ms; }

.animate-second {
  -webkit-animation-delay: 750ms;
  -moz-animation-delay: 750ms;
  -o-animation-delay: 750ms;
  animation-delay: 750ms; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.navbar {
  transition: 0.5s;
  display: flex;
  justify-content: center; }
  .navbar ul {
    display: flex;
    padding: 0;
    list-style: none; }
  .navbar li {
    margin: 10px 15px; }

.navbar a {
  color: #fff;
  text-decoration: none;
  display: flex;
  padding-bottom: 5px; }
  .navbar a.selected {
    background: linear-gradient(to left, #97caef, #cafafe, #8ee4af) left bottom no-repeat;
    background-size: 100% 3px;
    color: #c80000; }
    .navbar a.selected:hover {
      color: #c80000; }

.navbar a:hover {
  color: #7498a4; }

section {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000; }

.menu {
  display: none; }

#menu--toggle[type="checkbox"]:not(:checked),
#menu--toggle[type="checkbox"]:checked {
  display: none; }

.menu--toggle__trigger,
.menu--toggle__burger,
.menu--toggle__burger:before,
.menu--toggle__burger:after {
  position: absolute;
  top: 2.75em;
  right: 1.25em;
  width: 4em;
  height: 3px;
  background-color: #50386b;
  border-radius: 2px;
  cursor: pointer;
  z-index: 1000;
  transition: .5s ease-in-out; }

.menu--toggle__trigger {
  height: 2em;
  background: none; }

.menu--toggle__burger:before {
  content: "";
  top: 10px;
  left: 0; }
.menu--toggle__burger:after {
  content: "";
  top: 20px;
  left: 0; }

.menu__body {
  position: absolute;
  display: grid;
  align-items: center;
  right: 0;
  width: 8em;
  height: 8em;
  margin: 0;
  padding: 0;
  background-color: #379683;
  border-bottom-left-radius: 100%;
  box-shadow: 3px 3px 7px rgba(92, 219, 149, 0.2);
  z-index: 10;
  animation: checkboxUncheckedAnimation 0.35s both; }

.menu__body-element,
.menu__body-link {
  display: none;
  text-decoration: none;
  font-size: 36px;
  letter-spacing: .2em;
  font-weight: normal;
  color: #50386b;
  list-style: none;
  outline: 0; }

.menu__body-element {
  text-indent: 2em; }

.menu__body-link:hover {
  display: block;
  color: #edf5e1; }

#menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger {
  top: 35px;
  transform: rotate(135deg); }
  #menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger:before {
    top: 0;
    transform: rotate(-90deg); }
  #menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger:after {
    top: 0;
    transform: rotate(90deg); }
#menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger + .menu__body {
  animation: checkboxCheckedAnimation 2s cubic-bezier(0.25, 0.1, 0.25, 1) both; }
#menu--toggle:checked + .menu--toggle__trigger ~ .menu__body .menu__body-element, #menu--toggle:checked + .menu--toggle__trigger ~ .menu__body .menu__body-link {
  display: flex;
  justify-content: center; }

/**
 *	Animations
 *
 *  @note checkboxCheckedAnimation - added fix for Microsoft Edge
 */
@keyframes checkboxCheckedAnimation {
  50% {
    width: 100vw;
    height: 100vh; }
  100% {
    width: 100vw;
    height: 100vh;
    border-radius: 0; } }
@keyframes checkboxUncheckedAnimation {
  0% {
    width: 100vw;
    height: 100vh; } }
@keyframes changeWidthOfElementAnimation {
  50% {
    width: 0; }
  100% {
    width: 100%; } }
@media only screen and (min-width: 320px) and (max-width: 1020px) {
  .menu {
    display: block !important; }

  .navbar {
    display: none; } }
.footer-bottom {
  color: #7498a4;
  padding: 1em;
  text-align: center; }

.job-tile {
  max-width: 400px;
  margin-bottom: 30px;
  padding: 0 20px; }
  .job-tile-bg {
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    position: relative; }
    .job-tile-bg img {
      border-radius: 10px;
      width: 100%; }
  .job-tile-inner {
    background: linear-gradient(to top, black, rgba(25, 0, 0, 0));
    position: absolute;
    color: #edf5e1;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  .job-tile-info {
    position: absolute;
    bottom: 0;
    margin: 20px 10px;
    z-index: 1; }
  .job-tile-overlay {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.75); }
    .job-tile-overlay:hover {
      opacity: .7; }

.button {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none; }
  .button.spacing {
    letter-spacing: 2.5px;
    margin: 0 auto;
    transition: .4s ease-in-out; }
  .button .back {
    display: none; }
  .button:focus {
    outline: 0; }
  .button:hover {
    color: #7498a4;
    transition: .4s ease-in-out; }

.subheading {
  font-size: 44px;
  margin-top: 10px; }

.pt-page {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .pt-page .pt-page-1 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .pt-page svg {
    bottom: 0;
    position: absolute;
    right: 0; }
  .pt-page.page-2 .button .back {
    display: block;
    position: fixed;
    top: 15;
    left: 15;
    z-index: 1; }
  .pt-page.page-2 .pt-page-2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%; }
  .pt-page.page-2 .button {
    display: block; }

.page-heading {
  margin-top: 75px;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }

.job-tile-wrapper {
  display: flex;
  flex-flow: wrap;
  margin-bottom: 50px; }
  .job-tile-wrapper .job-tile {
    width: calc((100% / 3) - 20px);
    margin-bottom: 20px; }
    @media screen and (max-width: 1220px) {
      .job-tile-wrapper .job-tile {
        width: calc((100% / 2) - 20px); } }
    @media screen and (max-width: 879px) {
      .job-tile-wrapper .job-tile {
        width: 100%; } }
  @media screen and (max-width: 929px) {
    .job-tile-wrapper {
      justify-content: center; } }

.bh-image {
  margin: 15px;
  height: 50px;
  width: 50px;
  background-image: url("./logos/bh-grey.png");
  background-size: contain;
  transition: .4s ease-in-out; }
  .bh-image:hover {
    background-image: url("./logos/bh-red.png");
    transition: .4s ease-in-out; }

.desc-sec {
  background-color: #161f22;
  color: #fff; }
  .desc-sec .top-desc {
    margin: 125px auto; }
    .desc-sec .top-desc .desc-header {
      font-size: 35px;
      font-size: 30px;
      letter-spacing: 1px;
      margin: 20px 0;
      position: relative;
      text-transform: uppercase;
      width: max-content; }
      .desc-sec .top-desc .desc-header:after {
        background-color: #c80000;
        content: '';
        display: block;
        position: absolute;
        height: 10px;
        bottom: 2px;
        right: -6px;
        left: -6px;
        opacity: .8;
        z-index: -1; }
    .desc-sec .top-desc .desc-body {
      font-size: 18px; }

.not-found {
  height: 100%;
  text-align: center; }
  .not-found .not-found-text {
    font-weight: 600;
    display: flex;
    justify-content: center; }
    .not-found .not-found-text a {
      padding-left: 5px;
      text-decoration: none; }
  .not-found img {
    padding-bottom: 1em; }
  .not-found .other-projects {
    padding-top: 5px;
    font-weight: 600; }

.tabSection {
  max-width: 800px;
  margin: 30px auto; }
  .tabSection .tabs {
    display: flex;
    justify-content: flex-start;
    flex-direction: column; }
    .tabSection .tabs .tabButton-container {
      display: flex; }
      .tabSection .tabs .tabButton-container button {
        margin: 0 0 10px 30px;
        padding: 0; }
        .tabSection .tabs .tabButton-container button.active {
          color: #7498a4; }
  .tabSection .tabContent-container {
    width: 100%; }
    .tabSection .tabContent-container .divider {
      height: 1px;
      border-bottom: 1px solid #161f22;
      margin: 20px 0;
      opacity: .6;
      width: 100%; }
  .tabSection .tabContent {
    margin: 30px;
    display: none;
    flex-direction: column; }
    .tabSection .tabContent .tab-header {
      font-size: 30px;
      letter-spacing: 1px;
      margin: 20px 0;
      position: relative;
      text-transform: uppercase;
      width: max-content; }
      .tabSection .tabContent .tab-header:after {
        background-color: #c80000;
        content: '';
        display: block;
        position: absolute;
        height: 10px;
        bottom: 2px;
        right: -6px;
        left: -6px;
        opacity: .8;
        z-index: -1; }
    .tabSection .tabContent.active {
      display: flex; }

html {
  -webkit-font-smoothing: antialiased; }

body {
  background-color: #fff;
  color: #161f22;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  margin: 0; }

p {
  font-size: 16px;
  padding-left: 50px;
  padding-right: 50px; }

h1 {
  font-size: 75px; }

h2 {
  font-size: 45px; }

h3 {
  font-size: 35px; }

h4 {
  font-size: 25px; }

.container {
  max-width: 1440px;
  padding: 0 25px; }

.center {
  margin: 0 auto; }

::selection {
  background-color: #c80000;
  color: #fff; }

/*# sourceMappingURL=style.css.map */
