@import 'header';
@import 'footer';
@import 'colors';
@import 'pages';
@import 'not-found';

$font: 'Ubuntu', sans-serif;
$lobster: 'Lobster', cursive;

body, html{
  background-color: $spring-green;
  color: $cream-green;
  font-family: $font;
  font-size: 16px;
  margin: 0;
}

p{
  font-size: 16px;
  padding-left: 50px;
  padding-right: 50px;
}

h1{
  font-size: 75px;
}

h2{
  font-size: 45px;
}

h3{
  font-size: 35px;
}

h4{
  font-size: 25px;
}

// classes

.main{
  padding: 1em;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
}

//fonts per section
.flexin{
  font-family: $lobster;
}
