@import 'header';
@import 'footer';
@import 'colors';
@import 'pages';
@import 'animate';
@import 'not-found';

$font: 'Roboto Condensed', sans-serif;
$lobster: 'Lobster', cursive;

body, html{
  background-color: $dark-grey;
  font-family: $font;
  font-size: 16px;
  margin: 0;
}

p{
  font-size: 16px;
  padding-left: 50px;
  padding-right: 50px;
}

h1{
  font-size: 75px;
}

h2{
  font-size: 45px;
}

h3{
  font-size: 35px;
}

h4{
  font-size: 25px;
}

// classes

.main{
  padding: 1em;
}

.container{
  padding-top: 2em;
  padding-bottom: 2em;
}

//fonts per section
.flexin{
  font-family: $lobster;
}

#welcome{
  font-family: $lobster;
}

.section-1{
  h3{
    font-family: $lobster;
  }
}
.section-2{
  h3{
    font-family: $lobster;
  }
}
.section-3{
  h3{
    font-family: $lobster;
  }
}
.ab-2-con{
  h4{
    font-family: $lobster;
  }
}

#career-tag{
  font-family: $lobster;
}

// .job-title{
//   font-family: $lobster;
// }
