@import 'header';
@import 'footer';
@import 'colors';
@import 'pages';

$font: 'Roboto Condensed', sans-serif;

body, html{
  background-color: $dark-grey;
  font-family: $font;
  font-size: 16px;
  margin: 0;
}

p{
  font-size: 16px;
  padding-left: 50px;
  padding-right: 50px;
}

h1{
  font-size: 54px;
}

h2{
  font-size: 44px;
}

h3{
  font-size: 34px;
}

// classes

.main{
  padding: 1em;
}

.container{
  padding-top: 2em;
  padding-bottom: 2em;
}
