@import 'animate';
@import 'header';
@import 'footer';
@import 'colors';
@import 'job-tile';
@import 'pages';
@import 'not-found';
@import 'tabs';

$font: 'Ubuntu', sans-serif;

html {
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $white;
  color: $grey;
  font-family: $font;
  font-size: 16px;
  margin: 0;
}

p {
  font-size: 16px;
  padding-left: 50px;
  padding-right: 50px;
}

h1 {
  font-size: 75px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 25px;
}

// classes

.container {
  max-width: 1440px;
  padding: 0 25px;
}

.center {
  margin: 0 auto;
}

::selection {
  background-color: $red;
  color: $white;
}
