@import 'about';
@import 'animate';
@import 'header';
@import 'footer';
@import 'colors';
@import 'job-tile';
@import 'pages';
@import 'not-found';
@import 'tabs';
@import 'volunteer';

$font: 'Ubuntu', sans-serif;

html {
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $bone-grey;
  color: $dark-grey;
  font-family: $font;
  font-size: 16px;
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 75px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 25px;
}

// classes

.container {
  padding: 0 25px;

  &.about {
    margin: 35px 0;
  }
}

.center {
  margin: 0 auto;
}

::selection {
  background-color: $red;
  color: $white;
}
