.about-me-container {
  border-radius: 5px;
  display: flex;
  margin: 0 auto;
  box-shadow: 3px 5px 63px 1px rgba(0, 0, 0, 0.6); }
  .about-me-container .fun-facts {
    background-color: #af0000;
    border-radius: 0 5px 5px 0px; }
    .about-me-container .fun-facts .fact-head {
      font-size: 80px;
      font-weight: bold;
      margin: -50px -45px;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      text-transform: uppercase; }
      @media screen and (max-width: 879px) {
        .about-me-container .fun-facts .fact-head {
          font-size: 40px;
          margin: 15px auto;
          margin-bottom: -25px;
          text-align: center; } }
    .about-me-container .fun-facts .fact {
      color: white;
      font-size: 18px;
      margin: 50px 25px; }
      @media screen and (max-width: 879px) {
        .about-me-container .fun-facts .fact {
          font-size: 14px;
          margin: 25px 15px; } }
    @media screen and (max-width: 879px) {
      .about-me-container .fun-facts {
        border-radius: 0 0 5px 5px; } }
  .about-me-container .me {
    max-width: 400px; }
    @media screen and (max-width: 879px) {
      .about-me-container .me {
        max-width: none;
        width: 100%; } }
  @media screen and (max-width: 879px) {
    .about-me-container {
      flex-direction: column; } }

.animate-reveal {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animate-first {
  -webkit-animation-delay: 250ms;
  -moz-animation-delay: 250ms;
  -o-animation-delay: 250ms;
  animation-delay: 250ms; }

.animate-second {
  -webkit-animation-delay: 750ms;
  -moz-animation-delay: 750ms;
  -o-animation-delay: 750ms;
  animation-delay: 750ms; }

.animate-third {
  -webkit-animation-delay: 750ms;
  -moz-animation-delay: 750ms;
  -o-animation-delay: 750ms;
  animation-delay: 750ms; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.navbar {
  transition: 0.5s;
  display: flex;
  justify-content: center; }
  .navbar ul {
    display: flex;
    padding: 0;
    list-style: none; }
  .navbar li {
    margin: 10px 15px; }

.navbar a {
  color: #fff;
  text-decoration: none;
  display: flex;
  padding-bottom: 5px; }
  .navbar a.selected {
    background: linear-gradient(to left, #c80000, #c80000) left bottom no-repeat;
    background-size: 100% 3px;
    color: #c80000; }
    .navbar a.selected:hover {
      color: #c80000; }

.navbar a:hover {
  color: #c80000;
  background: linear-gradient(to left, #c80000, #c80000) left bottom no-repeat;
  background-size: 100% 3px;
  transition: 0.5s; }

section {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000; }

.menu {
  display: none; }

#menu--toggle[type="checkbox"]:not(:checked),
#menu--toggle[type="checkbox"]:checked {
  display: none; }

.menu--toggle__trigger,
.menu--toggle__burger,
.menu--toggle__burger:before,
.menu--toggle__burger:after {
  position: absolute;
  top: 2.75em;
  right: 1.25em;
  width: 4em;
  height: 3px;
  background-color: #50386b;
  border-radius: 2px;
  cursor: pointer;
  z-index: 1000;
  transition: .5s ease-in-out; }

.menu--toggle__trigger {
  height: 2em;
  background: none; }

.menu--toggle__burger:before {
  content: "";
  top: 10px;
  left: 0; }
.menu--toggle__burger:after {
  content: "";
  top: 20px;
  left: 0; }

.menu__body {
  position: absolute;
  display: grid;
  align-items: center;
  right: 0;
  width: 8em;
  height: 8em;
  margin: 0;
  padding: 0;
  background-color: #379683;
  border-bottom-left-radius: 100%;
  box-shadow: 3px 3px 7px rgba(92, 219, 149, 0.2);
  z-index: 10;
  animation: checkboxUncheckedAnimation 0.35s both; }

.menu__body-element,
.menu__body-link {
  display: none;
  text-decoration: none;
  font-size: 36px;
  letter-spacing: .2em;
  font-weight: normal;
  color: #50386b;
  list-style: none;
  outline: 0; }

.menu__body-element {
  text-indent: 2em; }

.menu__body-link:hover {
  display: block;
  color: #edf5e1; }

#menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger {
  top: 35px;
  transform: rotate(135deg); }
  #menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger:before {
    top: 0;
    transform: rotate(-90deg); }
  #menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger:after {
    top: 0;
    transform: rotate(90deg); }
#menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger + .menu__body {
  animation: checkboxCheckedAnimation 2s cubic-bezier(0.25, 0.1, 0.25, 1) both; }
#menu--toggle:checked + .menu--toggle__trigger ~ .menu__body .menu__body-element, #menu--toggle:checked + .menu--toggle__trigger ~ .menu__body .menu__body-link {
  display: flex;
  justify-content: center; }

.mobile-nav {
  display: none;
  position: relative;
  top: 25px;
  z-index: 1; }
  .mobile-nav li {
    margin: 35px;
    text-align: center; }
  .mobile-nav-input {
    cursor: pointer;
    height: 30px;
    opacity: 0;
    position: absolute;
    margin: 0;
    width: 35px;
    z-index: 3; }
    .mobile-nav-input:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(0px, -5px);
      transition: .5s;
      background-color: #161f22;
      z-index: 2; }
    .mobile-nav-input:checked ~ span:nth-child(4) {
      opacity: 0; }
    .mobile-nav-input:checked ~ span:nth-child(3) {
      background-color: #161f22;
      transform: rotate(-45deg); }
    .mobile-nav-input:checked ~ .mobile-list {
      display: block; }
  .mobile-nav span {
    display: block;
    background-color: #efefef;
    border-radius: 5px;
    height: 3px;
    position: relative;
    width: 35px;
    transition: .5s; }
    .mobile-nav span:first-child {
      transform-origin: 0% 0%; }
    .mobile-nav span:nth-child(2) {
      transform-origin: 0% 100%; }
    .mobile-nav span:nth-child(3) {
      margin: 6px 0; }

.mobile-list {
  border-bottom: 3px solid #c80000;
  position: absolute;
  width: 100%;
  background-color: #efefef;
  margin: -50px 0 0 -25px;
  padding: 25px;
  list-style-type: none;
  display: none; }
  .mobile-list .mobile-item {
    color: #161f22;
    font-size: 22px;
    text-decoration: none; }

@media screen and (max-width: 1020px) {
  .mobile-nav {
    display: block; }

  .navbar {
    display: none; } }
.footer-bottom {
  color: #7498a4;
  padding: 1em;
  text-align: center; }

.job-tile {
  margin-bottom: 30px;
  padding: 0 20px;
  display: flex;
  flex-direction: row-reverse; }
  .job-tile .job-img img {
    max-height: 450px; }
    @media screen and (max-width: 879px) {
      .job-tile .job-img img {
        max-width: 500px; } }
    @media screen and (max-width: 479px) {
      .job-tile .job-img img {
        max-width: 300px; } }
    @media screen and (max-width: 325px) {
      .job-tile .job-img img {
        max-width: 250px; } }
  .job-tile-info {
    line-height: 1.6;
    margin: 20px 0; }
    .job-tile-info-list {
      display: flex;
      font-size: 14px;
      font-weight: bold;
      margin-top: 10px;
      margin-left: 15px; }
      .job-tile-info-list .list-info {
        margin-left: 5px;
        font-weight: normal; }
      .job-tile-info-list a {
        margin-left: 5px;
        font-weight: normal; }
      @media screen and (max-width: 479px) {
        .job-tile-info-list {
          display: block; } }
    .job-tile-info a {
      color: #161f22; }
      .job-tile-info a:hover {
        color: #c80000; }
  @media screen and (max-width: 879px) {
    .job-tile {
      align-items: center;
      flex-direction: column; } }

.about {
  padding: 50px auto; }

.button {
  border: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none; }
  .button.spacing {
    letter-spacing: 2.5px;
    margin: 0 auto;
    transition: .4s ease-in-out; }
  .button .back {
    display: none; }
  .button:focus {
    outline: 0; }
  .button:hover {
    color: #7498a4;
    transition: .4s ease-in-out; }

.subheading {
  font-size: 44px;
  margin-top: 10px; }
  @media screen and (max-width: 879px) {
    .subheading {
      font-size: 30px; } }

.pt-page {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .pt-page .pt-page-1 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .pt-page svg {
    bottom: 0;
    position: absolute;
    right: 0; }

.page-heading {
  margin-top: 75px;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media screen and (max-width: 879px) {
    .page-heading {
      margin-top: 35px;
      font-size: 35px; } }

.job-tile-wrapper {
  justify-content: center;
  margin-bottom: 50px;
  max-width: 1440px;
  margin: auto; }
  .job-tile-wrapper .job-tile {
    margin-bottom: 20px; }

.bh-image {
  margin: 15px;
  height: 50px;
  width: 50px;
  background-image: url("./logos/bh-grey.png");
  background-size: contain;
  transition: .4s ease-in-out; }
  .bh-image:hover {
    background-image: url("./logos/bh-red.png");
    transition: .4s ease-in-out; }

.desc-sec {
  background-color: #161f22;
  color: #fff; }
  .desc-sec .top-desc {
    margin: 90px auto 150px auto;
    max-width: 500px; }
    .desc-sec .top-desc .desc-header {
      font-size: 30px;
      letter-spacing: 1px;
      margin: 20px 0;
      position: relative;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
      text-transform: uppercase;
      width: max-content; }
      .desc-sec .top-desc .desc-header:after {
        background-color: #c80000;
        content: '';
        display: block;
        position: absolute;
        height: 10px;
        bottom: 2px;
        right: -6px;
        left: -6px;
        opacity: .8;
        z-index: -1; }
      @media screen and (max-width: 879px) {
        .desc-sec .top-desc .desc-header {
          font-size: 25px; } }
    .desc-sec .top-desc .desc-body {
      font-size: 18px; }
      @media screen and (max-width: 879px) {
        .desc-sec .top-desc .desc-body {
          font-size: 16px; } }

.contact {
  margin: 75px auto; }
  .contact .fun-facts {
    background-color: #efefef; }
  .contact .button-holder {
    width: 100%; }
    .contact .button-holder .button {
      background-color: #c80000;
      border: 3px solid #161f22;
      border-radius: 15px;
      color: #efefef;
      margin: 15px auto;
      padding: 10px 35px;
      width: max-content;
      transition: .5s; }
      .contact .button-holder .button:hover {
        background-color: #161f22;
        transition: .5s; }
      @media screen and (max-width: 879px) {
        .contact .button-holder .button {
          font-size: 18px; } }
  .contact .fact-container {
    display: flex;
    flex-direction: column;
    height: 100%; }
  .contact .contact-fact {
    color: #161f22;
    font-size: 25px;
    line-height: 1.7;
    margin: 50px 25px; }
    @media screen and (max-width: 879px) {
      .contact .contact-fact {
        font-size: 20px;
        margin: 35px 15px; } }
  .contact-image {
    max-width: 66.666%; }
    @media screen and (max-width: 879px) {
      .contact-image {
        max-width: 100%; } }

.img {
  max-width: 100%;
  height: auto; }

.img-curve {
  border-radius: 5px 0 0 5px; }
  @media screen and (max-width: 879px) {
    .img-curve {
      border-radius: 5px 5px 0 0; } }

.header {
  margin: 15px auto;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase; }
  .header.jobs {
    font-size: 22px;
    letter-spacing: 1.2px; }

.sm {
  max-width: 400px; }

.md {
  max-width: 800px; }

.lg {
  max-width: 1200px; }

@media screen and (max-width: 879px) {
  .heading {
    font-size: 40px; } }

.tabSection {
  max-width: 800px;
  margin: 30px auto; }
  .tabSection .tabs {
    display: flex;
    justify-content: flex-start;
    flex-direction: column; }
    .tabSection .tabs .tabButton-container {
      display: flex; }
      .tabSection .tabs .tabButton-container button {
        margin: 0 0 10px 30px;
        padding: 0;
        background-color: transparent; }
        .tabSection .tabs .tabButton-container button.active {
          color: #7498a4; }
        @media screen and (max-width: 879px) {
          .tabSection .tabs .tabButton-container button {
            margin: 10px auto; } }
      @media screen and (max-width: 879px) {
        .tabSection .tabs .tabButton-container {
          justify-content: space-between; } }
  .tabSection .tabContent-container {
    width: 100%; }
    .tabSection .tabContent-container .divider {
      height: 1px;
      border-bottom: 1px solid #161f22;
      margin: 20px 0;
      opacity: .4;
      width: 100%; }
  .tabSection .tabContent {
    margin: 30px;
    display: none;
    flex-direction: column; }
    .tabSection .tabContent .tab-header {
      font-size: 28px;
      font-weight: bold;
      letter-spacing: 1px;
      margin: 20px 0;
      position: relative;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      text-transform: uppercase;
      width: max-content; }
      .tabSection .tabContent .tab-header:after {
        background-color: #7498a4;
        content: '';
        display: block;
        position: absolute;
        height: 10px;
        bottom: 2px;
        right: -6px;
        left: -6px;
        opacity: .8;
        z-index: -1; }
      @media screen and (max-width: 879px) {
        .tabSection .tabContent .tab-header {
          display: none; } }
    .tabSection .tabContent .tab-content {
      display: flex; }
      .tabSection .tabContent .tab-content .tab-subheader {
        border-right: 1px solid #161f22;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 27px;
        width: 100%; }
        @media screen and (max-width: 879px) {
          .tabSection .tabContent .tab-content .tab-subheader {
            border-right: none;
            margin: 0; } }
        .tabSection .tabContent .tab-content .tab-subheader .tab-img {
          max-width: 300px;
          margin: 25px auto; }
          @media screen and (max-width: 879px) {
            .tabSection .tabContent .tab-content .tab-subheader .tab-img {
              max-width: 200px; } }
      .tabSection .tabContent .tab-content .tab-desc {
        width: 100%;
        font-size: 18px; }
      @media screen and (max-width: 879px) {
        .tabSection .tabContent .tab-content {
          flex-direction: column; } }
    .tabSection .tabContent.active {
      display: flex; }
    @media screen and (max-width: 879px) {
      .tabSection .tabContent {
        margin: 0; } }

.vol-wrapper {
  margin: 0 auto; }
  .vol-wrapper .vol-item {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 30px auto; }
    .vol-wrapper .vol-item .vol-desc {
      margin: 0 25px;
      max-width: 400px; }
      @media screen and (max-width: 879px) {
        .vol-wrapper .vol-item .vol-desc {
          margin: 0;
          width: auto; } }
    @media screen and (max-width: 879px) {
      .vol-wrapper .vol-item {
        flex-direction: column; } }
  .vol-wrapper .vol-img {
    border-radius: 250px;
    max-width: 300px; }
    .vol-wrapper .vol-img.marist {
      background-color: #c80000;
      border: 1px solid #c80000;
      transition: 1s ease-in-out; }
      .vol-wrapper .vol-img.marist:hover {
        background-color: #161f22;
        border: 1px solid #161f22;
        transition: 1s ease-in-out; }
    .vol-wrapper .vol-img.hoby {
      background-color: #3cb4e5;
      transition: 1s ease-in-out; }
      .vol-wrapper .vol-img.hoby:hover {
        background-color: #cafafe;
        transition: 1s ease-in-out; }
    @media screen and (max-width: 879px) {
      .vol-wrapper .vol-img {
        margin: auto 25px; } }
    @media screen and (max-width: 325px) {
      .vol-wrapper .vol-img {
        max-width: 250px; } }

html {
  -webkit-font-smoothing: antialiased; }

body {
  background-color: #efefef;
  color: #161f22;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  margin: 0;
  min-height: 100vh; }

h1 {
  font-size: 75px; }

h2 {
  font-size: 45px; }

h3 {
  font-size: 35px; }

h4 {
  font-size: 25px; }

.container {
  padding: 0 25px; }
  .container.about {
    margin: 35px 0; }

.center {
  margin: 0 auto; }

::selection {
  background-color: #c80000;
  color: #fff; }

/*# sourceMappingURL=style.css.map */
