.tabSection {
  max-width: 800px;
  margin: 30px auto;

  .tabs {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    .tabButton-container {
      display: flex;

      button {
        margin: 0 0 10px 30px;
        padding: 0;

        &.active {
          color: $light-grey;
        }
      }
    }
  }

  .tabContent-container {
    width: 100%;

    .divider {
      height: 1px;
      border-bottom: 1px solid $dark-grey;
      margin: 20px 0;
      opacity: .4;
      width: 100%;
    }
  }

  .tabContent {
    margin: 30px;
    display: none;
    flex-direction: column;

    .tab-header {
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 1px;
      margin: 20px 0;
      position: relative;
      text-transform: uppercase;
      width: max-content;

      &:after {
        background-color: $grey;
        content: '';
        display: block;
        position: absolute;
        height: 10px;
        bottom: 2px;
        right: -6px;
        left: -6px;
        opacity: .8;
        z-index: -1;
      }
    }

    .tab-content {
      display: flex;

      .tab-subheader {
        width: 100%;

        .tab-img {
          max-width: 300px;
          margin: 25px auto;
        }
      }

      .tab-desc {
        width: 100%;
      }
    }

    &.active {
      display: flex;
    }
  }
}
